﻿@model Izersoft.Core.Domain.Category_

@{
    ViewBag.Title = "title";
    Layout = "_AdminLayout";
}

<div class="tab-content">
    <div class="tab-pane fade active show" id="basic-info-tab-pane" role="tabpanel" aria-labelledby="basic-info-tab">

        <div class="card p-6">

            <form>
                <div class="form-group">
                    <input type="text" class="form-control" aria-describedby="product name">
                    <label>Product Name</label>
                </div>

                <div class="form-group">
                    <textarea class="form-control" aria-describedby="product description" rows="5"></textarea>
                    <label>Product Description</label>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" aria-describedby="product categories">
                    <label>Categories</label>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" aria-describedby="product tags">
                    <label>Tags</label>
                </div>

            </form>
        </div>
    </div>
</div>