﻿@model System.Collections.Generic.IList<Izersoft.Core.Domain.Category_>
@{
    ViewData["Title"] = "New";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="content-wrapper">
    <table id="example" class="cell-border compact stripe" style="width: 100%; font-size: 14px;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Removed</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CategoryId</td>
                    <td>@item.CategoryName</td>
                    <td>@item.IsDelete</td>
                    <td class="text-center">
                        <a asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-primary btn-sm"><i class="icon-close-outline"></i></a>
                        <a asp-action="Update" asp-route-id="@item.CategoryId" class="btn btn-primary btn-sm"><i class="icon-pen"></i></a>
                        <a asp-action="Insert" asp-route-id="@item.CategoryId" class="btn btn-primary btn-sm"><i class="icon-plus-outline"></i></a>
                    </td>
                </tr>
            }


        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('#example').DataTable();
    } );
</script>