﻿@model Izersoft.Core.Domain.Category_

@{
    ViewBag.Title = "title";
    Layout = "_AdminLayout";
}
@section Scripts{
    <link href="~/admin/css/snippet.css" rel="stylesheet" />
    <link href="~/admin/css/snippet-styles.css" rel="stylesheet" />
    <script>
        (function () {
            'use strict';
            var el = document.createElement('script');
            el.setAttribute('async', 'async');
            el.setAttribute('defer', 'defer');
            if (typeof Symbol === 'function' && typeof Symbol() === 'symbol') {
                el.src = "../js/ckeditor/app.js";
            } else {
                el.src = "../js/ckeditor/app-polyfill.js";
            }
            document.getElementsByTagName('head')[0].appendChild(el);
        })();
    </script>
    <script async="async" defer="defer" src="~/admin/js/ckeditor/app.js"></script>
}

<div class="tab-content">
    <div class="tab-pane fade active show" id="basic-info-tab-pane" role="tabpanel" aria-labelledby="basic-info-tab">

        <div class="card p-6">
            <form asp-action="Update" asp-controller="Category">
                <div class="form-group">

                    <input value="@Model.CategoryId" type="number" class="form-control" aria-describedby="category name" disabled>
                    <input asp-for="@Model.CategoryId" hidden>
                    <label>Category Id</label>
                </div>
                <div class="form-group">
                    <input id="CategoryName" name="CategoryName" value="@Model.CategoryName" type="text" class="form-control" aria-describedby="category name">
                    <label>Category Name</label>
                </div>

                <div class="input-group mb-8">

                    <span class="input-group-addon pt-4">Is Still Active?</span>
                    <input id="IsDelete" name="IsDelete" @(Model.IsDelete == true ? "" : "checked") type="checkbox" class="form-control" aria-describedby="Is Active?">
                </div>

                <div class="form-group">
                    <section class="main__content formatted">
                        <div class="live-snippet">
                            <div id="snippet-balloon-editor" class="ck ck-content ck-editor__editable ck-rounded-corners ck-blurred ck-editor__editable_inline" contenteditable="true" role="textbox" aria-label="Rich Text Editor, main">
                                @Html.Raw(Model.CategoryContent)
                            </div>
                        </div>
                    </section>
                    <script src="~/admin/js/ckeditor/snippet.js"></script>
                    <div class="ck ck-reset_all ck-body ck-rounded-corners">
                        <div class="ck ck-balloon-panel ck-balloon-panel_arrow_n ck-balloon-panel_with-arrow ck-toolbar-container" style="top: 762.422px; left: 775px;">
                        </div>
                    </div>

                    <textarea id="CategoryContent" name="CategoryContent" hidden></textarea>


                </div>

                <input type="submit" id="tik" value="Save Changes" />
                <script type="text/javascript">
                        $(document).ready(function (e) {
                            $("#tik").click(function () {
                                var htmldata = document.getElementById("snippet-balloon-editor").innerHTML
                                $("#CategoryContent").val(htmldata);
                            });
                        });
                </script>
            </form>
        </div>
    </div>
</div>