<!-- Style Switcher - Start -->
<div id="styleSwitcher" class="style-switcher d-none d-sm-block">

	<a id="styleSwitcherOpen" class="style-switcher-open" href="#"><i class="fas fa-cogs"></i></a>

	<div class="style-switcher-wrap">

		<h4>Style Switcher</h4>

		<h5>Primary Color</h5>
		<div class="input-group input-group-2 color-primary">
			<input type="text" value="#0088cc" class="form-control" />
			<span class="input-group-append"><span class="input-group-text input-group-addon"><i></i></span></span>
		</div>

		<h5>Secondary Color</h5>
		<div class="input-group input-group-2 color-secondary">
			<input type="text" value="#E36159" class="form-control" />
			<span class="input-group-append"><span class="input-group-text input-group-addon"><i></i></span></span>
		</div>

		<h5>Tertiary Color</h5>
		<div class="input-group input-group-2 color-tertiary">
			<input type="text" value="#2BAAB1" class="form-control" />
			<span class="input-group-append"><span class="input-group-text input-group-addon"><i></i></span></span>
		</div>

		<h5>Quaternary Color</h5>
		<div class="input-group input-group-2 color-quaternary">
			<input type="text" value="#383f48" class="form-control" />
			<span class="input-group-append"><span class="input-group-text input-group-addon"><i></i></span></span>
		</div>

		<h5>Borders Style</h5>
		<div class="options-links borders">
			<a class="active" data-border-radius="4px" href="#">Rounded</a>
			<a data-border-radius="0" href="#">Square</a>
		</div>

		<h5>Layout Style</h5>
		<div class="options-links layout">
			<a class="active" data-layout-type="wide" href="#">Wide</a>
			<a data-layout-type="boxed" href="#">Boxed</a>
		</div>

		<h5>Website Type</h5>
		<div class="options-links website-type">
			<a data-website-type="normal" href="index.html">Normal</a>
			<a data-website-type="one-page" href="index-one-page.html">One Page</a>
		</div>

		<h5>Background Color</h5>
		<div class="options-links background-color">
			<a class="active" data-background-color="light" href="#">Light</a>
			<a data-background-color="dark" href="#">Dark</a>
		</div>

		<div class="patterns" style="display: none;">
			<h5>Background Patterns</h5>
			<ul class="options" data-type="patterns">
				<li><a class="pattern" style="background-image: url(~/img/patterns/gray_jean.png);" data-pattern="gray_jean" href="#" title="Gray_jean"></a></li>
				<li><a class="pattern" style="background-image: url(~/img/patterns/linedpaper.png);" data-pattern="linedpaper" href="#" title="Linedpaper"></a></li>
				<li><a class="pattern" style="background-image: url(~/img/patterns/az_subtle.png);" data-pattern="az_subtle" href="#" title="Az_subtle"></a></li>
				<li><a class="pattern" style="background-image: url(~/img/patterns/blizzard.png);" data-pattern="blizzard" href="#" title="Blizzard"></a></li>
				<li><a class="pattern" style="background-image: url(~/img/patterns/denim.png);" data-pattern="denim" href="#" title="Denim"></a></li>
				<li><a class="pattern" style="background-image: url(~/img/patterns/fancy_deboss.png);" data-pattern="fancy_deboss" href="#" title="Fancy_deboss"></a></li>
				<li><a class="pattern" style="background-image: url(~/img/patterns/honey_im_subtle.png);" data-pattern="honey_im_subtle" href="#" title="Honey_im_subtle"></a></li>
				<li><a class="pattern" style="background-image: url(~/img/patterns/linen.png);" data-pattern="linen" href="#" title="Linen"></a></li>
				<li><a class="pattern" style="background-image: url(~/img/patterns/pw_maze_white.png);" data-pattern="pw_maze_white" href="#" title="Pw_maze_white"></a></li>
				<li><a class="pattern" style="background-image: url(~/img/patterns/skin_side_up.png);" data-pattern="skin_side_up" href="#" title="Skin_side_up"></a></li>
				<li><a class="pattern" style="background-image: url(~/img/patterns/stitched_wool.png);" data-pattern="stitched_wool" href="#" title="Stitched_wool"></a></li>
				<li><a class="pattern" style="background-image: url(~/img/patterns/straws.png);" data-pattern="straws" href="#" title="Straws"></a></li>
				<li><a class="pattern" style="background-image: url(~/img/patterns/subtle_grunge.png);" data-pattern="subtle_grunge" href="#" title="Subtle_grunge"></a></li>
				<li><a class="pattern" style="background-image: url(~/img/patterns/textured_stripes.png);" data-pattern="textured_stripes" href="#" title="Textured_stripes"></a></li>
				<li><a class="pattern" style="background-image: url(~/img/patterns/wild_oliva.png);" data-pattern="wild_oliva" href="#" title="Wild_oliva"></a></li>
				<li><a class="pattern" style="background-image: url(~/img/patterns/worn_dots.png);" data-pattern="worn_dots" href="#" title="Worn_dots"></a></li>
				<li><a class="pattern" style="background-image: url(~/img/patterns/bright_squares.png);" data-pattern="bright_squares" href="#" title="Bright_squares"></a></li>
				<li><a class="pattern" style="background-image: url(~/img/patterns/random_grey_variations.png);" data-pattern="random_grey_variations" href="#" title="Random_grey_variations"></a></li>
			</ul>

		</div>

		<div class="style-switcher-buttons options-links">
			<a href="#" class="reset">Reset</a>
			<a href="#getCSSModal" class="get-css"><i class="fas fa-file-alt"></i> Get Skin CSS</a>
		</div>

	</div>

</div>

<div class="modal fade" id="getCSSModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="cssModalLabel">Skin CSS</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<div class="alert alert-info fade in" id="addBoxedClassInfo">
					Please add the <strong>&quot;boxed&quot;</strong> class to the &lt;html&gt; element.
				</div>
				<textarea id="getCSSTextarea" class="get-css" readonly></textarea>
			</div>
		</div>
	</div>
</div>
<!-- Style Switcher - End -->