//COMMON IMPORTS
@import "../config/imports";

/*
* RTL
*/
@include if-rtl() {
	.pagination {
		> li {
			> a {
				> i {
					transform: rotate(180deg);
				}
			}
		}
	}

	.page-header {
		.breadcrumb {
			> li + li {
				&:before {
					float: right;				
				}
			}
		}
	}
}


// Custom Real Estate Color
.custom-color-1 {
	color: #2bca6e !important;
}

.custom-color-2 {
	color: #8b94a3 !important;
}

.custom-color-3 {
	color: #3f4b59 !important;
}

// Custom Real Estate Background Color
.custom-background-color-1 {
	background-color: #1c222a !important;
}

// Custom Box Shadow
.box-shadow-custom {
	box-shadow: 10px 10px 74px -15px rgba(0,0,0,0.33);
}

// Custom List Style
.custom-list-style-1 {
	li {
		position: relative;
		list-style: none;

		&:before {
			content: '-';
			display: block;
			position: absolute;
			top: 50%;
			#{$left}: -15px;
			transform: translateY(-50%);
		}
	}
}

// Custom Item Disabled
.custom-list-item-disabled {
    color: #c9c9c9 !important;
    text-decoration: line-through;
    .fa, .fas, .far, .fal, .fab, .icons {
    	color: #c9c9c9 !important;
    }
}

// Custom Padding 1
.custom-padding-1 {
    padding: 0.7rem 1.8rem !important;
}

// Table
.table td,
.table th {
    padding: .44rem .75rem;
}

// Header
#header {
	.header-body {
		border-top: 0 !important;
		border-bottom: 0 !important;
	}

	// Header Top Custom
	.header-top-custom {
		padding: 0 !important;
		background: #dbe6ef;
		border-bottom: 1px solid #444a54 !important;
		min-height: 0;

		.header-nav-top {
			&.langs {
				li {
					a {
						&:hover, &:focus {
							background: #FFF;
						}
					}
				}
			}

			.nav {
				> li {
					&.blog {
						border-left: 1px solid #444a54;
						border-right: 1px solid #444a54;  
					}

					&:nth-child(2) {
						span {
							border-left: 1px solid #444a54;
							border-right: 1px solid #444a54;    
						}
					}

					> span, a {
						color: #8ea0ae !important;
					}

					&:first-child {
						> span {
							padding-#{$left}: 0;
						}
					}

					span {
						.icons {
							color: #FFF !important;
						}
					}

					a {
						display: inline-flex;
						align-items: center;
						.fa, .fas, .far, .fal, .fab {
							color: #8ea0ae;
						    margin-#{$left}: 5px;
							margin-top: -4px;
						}
					}
				}

				// Languages
				.open {
					a {
						background-color: #FFF;
					}

					.dropdown-menu {
						border-radius: 0 !important;
					}

					.dropdown-menu-toggle {
						border-radius: 0;
					}
				}
			}
		} 
	}

	// Header Search
	#headerSearchProperties {
		.dropdown-toggle:after {
			display: none !important;
		}
		.fa-caret-down {
			display: none !important;
		}
		.fa-search {
			font-size: 16px;
			position: relative;
			margin-#{$left}: 5px;
		}
	}
}

@media (min-width: 992px) {
	#header {

		// Nav Main
		.header-nav-main {
			nav {
				> ul {
					> li {
						> a {
							padding: 30px 20px;
						}
						&.dropdown.active > a,
						&.dropdown.open > a,
						&.dropdown:hover > a {
							&:after {
								border-color: #777 transparent transparent transparent !important;
							}
						}
					}	
				}	
			}	
		} 

		.header-nav-main-effect-1 {
			nav {
				> ul {
					> li {
						&.dropdown {
							&.open {
								> a {
									background: #FFF !important;
									color: #777 !important;
								}
								> .dropdown-menu {
									transform: translate3d(0,0,0);
								}
							}
							> .dropdown-menu {
								li:hover {
									a {
										background-color: #f5f5f5 !important;
									}
								}
							}
						}
					}
				}
			}
		}

		// Custom Styles for Header
		.header-container {
			&.custom-position-initial {
				position: static !important;
			}

			.custom-fullwidth-dropdown-menu {
				padding: 0;
				width: 100% !important;
				#{$left}: 0 !important;
			}
		}
	}
}

@media (max-width: 991px) {
	#header {
		min-height: 0 !important;
		.header-nav-main {
			&:before {
				content: none;
			}
			nav > {
				ul > {
					li {
						border-bottom: 1px solid #444a54 !important;
						> a {
							&:active {
								background: transparent !important;
							}
						}
						.dropdown-menu {
							> li {
								border-bottom: 1px solid #444a54 !important;
								&:last-child {
									border-bottom: 0 !important;
								}
								a {
									color: #777;
								}
							}
						}
						&.dropdown.opened > {
							.dropdown-menu {
								margin: 0;

								&.custom-fullwidth-dropdown-menu {
									background: transparent;
									width: 100% !important;
									form {
										margin: 10px;
										margin-#{$left}: 0;
									}
								}
							}
						}
						&:last-child {
							border-bottom: 0 !important;
						}
					}
				}	
			}	
		}

		#propertiesFormHeader {
			.col-md-2 {
				padding: 0;

				.form-control-custom {
					margin-top: 5px;
				}

				input[type="submit"] {
					margin-top: 5px;
				}
			}
		}
	}
}

// Revolution Slider
.rev_slider {
	.slides-number {
		position: absolute;
		top: 50%;
		left: 96.8%;
		transform: translate3d(-50%, -50%, 0);
		z-index: 21;
		width: 5%;
		font-size: 2.6em;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 58%;
			left: 50%;
			width: 120%;
			border-bottom: 1px solid #FFF;
			transform: translate3d(-50%, -50%, 0) rotate(-45deg);
		}

		span {
			display: block;
			color: #FFF;
			text-align: center;
			font-family: Georgia,serif;

			&.atual {
				position: absolute;
				top: -40px;
				width: 100%;
			}

			&.total {
				position: absolute;
				bottom: -30px;
				width: 100%;
			}
		}
	}

	.tparrows{
		background: none !important;

		&:before {
			content: '\f0d8';
			font-family: 'Font Awesome 5 Free';
			position: absolute;
			top: 0;
			left: 50%;
			line-height: 0;
			font-weight: 900;
			transform: translateX(-50%);
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 50%;
			height: 25px;
			border-left: 1px solid #FFF;
			transform: translateX(-50%);
		}

		&.tp-rightarrow{
			&:before {
				content: '\f0d7';
				font-family: 'Font Awesome 5 Free';
				bottom: 0;
				top: auto;
			}	

			&:after {
				bottom: 0;
				top: auto;
				transform: translateX(-50%);
			}
		}
	}
}

@media (max-width: 991px) {
	.rev_slider {
		.slides-number {
			#{$left}: 94.8%;
		}
	}
}

// Listings
.properties-listing {
	overflow: visible;
	position: relative;
	z-index: 1;

	li {
		list-style: none;
	}

	.listing-item {
		transition: all 0.3s ease;

		&:hover {
			box-shadow: 10px 8px 44px -15px rgba(0, 0, 0, 0.33);

			.thumb-info {
				.thumb-info-price {
					i {
						&:after {
							width: 60px;
						}
					}
				}
			}
		}

		.thumb-info {
			.thumb-info-listing-type {
				position: absolute;
				top: 0;
				#{$left}: 0;
				z-index: 2;
			}

			.thumb-info-price {
				display: block;
				width: 100%;
				line-height: 1;

				i {
					position: relative;
					@include if-rtl() {
						transform: rotate(180deg);
					}

					&:after {
						content: '';
						display: block;
						position: absolute;
						top: 50%;
						right: 0;
						width: 40px;
						border-bottom: 1px solid #219cd2;
						transform: translateY(-50%);
						transition: all 0.3s ease;
					}	
				} 
			}

			.custom-thumb-info-title {
				display: block;

				ul {
					li {
						display: inline-block;
						line-height: 1;
						padding: 1px 5px;

						&:nth-child(1) {
							padding-left: 0;
						}

						&:nth-child(2) {
							border-left: 1px solid #b8b8b8;
							border-right: 1px solid #b8b8b8;
						}
					}
				}
			}
		}
	}
}

.thumb-info-listing-type-detail {
	position: absolute;
	z-index: 2;
}

// Load More Button
#listingLoadMore {
	display: inline-block;
}

// Hidden Load More Dots
.listing-load-more-loader {
	display: none;
	min-height: 113px;
	position: relative;
}

// Side Image
.thumb-info-side-image {
	.thumb-info-side-image-wrapper {
		padding: 8px;
		img {
			transition: none;
		}
	}
	.thumb-info-caption {
		p {
			font-size: 1em;
		}
	}
}

// Thumb Info
.thumb-info:hover {
	.thumb-info-wrapper:after {
		opacity: 0.4;
	}
}

// Special Offer Item
.special-offer-item {
	margin-bottom: 30px;

	&:hover {
		img {
			transform: scale(1.1, 1.1);
		}
	}

	img {
		transition: all 0.3s ease;
	}

	.special-offer-wrapper {
		display: block;
		position: relative;
		overflow: hidden;
		backface-visibility: hidden;
		transform: translate3d(0, 0, 0);

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background: rgba(23, 23, 23, 0.50);
			z-index: 1;
		}

		.special-offer-infos {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;
			z-index: 2;
			transform: translate(-50%, -50%);

			span {
				display: block;
			}
		}
	}
}

@media (max-width: 991px) {
	.special-offer-item {
		.special-offer-wrapper {
			img {
				width: 100%;
			}
		}
	}
}

@media (max-width: 767px) {
	.xs-custom-mt-5 {
		margin-top: 30px !important;
	}
}

// Agents
.agents {
	margin-bottom: 30px;
	position: relative;
	background: url('~/img/demos/real-estate/agents/agent-bg-blue.jpg');
	background-size: cover;

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		#{$left}: 50%;
		width: 95%;
		height: 95%;
		border: 1px solid #5a71a0;
		transform: translate3d(-50%, -50%, 0);
		@include if-rtl {
			transform: translate3d(50%, -50%, 0);
		}
	}

	.agents-content {
		position: absolute;
		top: 50%;
		#{$left}: 50%;
		transform: translate3d(-50%, -50%, 0);
		@include if-rtl {
			transform: translate3d(50%, -50%, 0);
		}
	}

	.owl-carousel {
		.owl-item {
			.agent-thumb {
				display: inline-block;
				width: 30%;

				img {
					border: 7px solid #FFF;
					box-shadow: 5px 2px 10px rgba(0,0,0,0.3);
				}
			}

			.agent-infos {
				display: block;

				span {
					display: block;
					color: #aebbd6;
				}
			}
		}

		.owl-nav {
			padding-bottom: 30px;
			padding-top: 20px;

			button.owl-prev, button.owl-next {
				border: none !important;
				font-size: 2em;
				padding: 0 !important;
				width: auto;
				height: auto;
				@include if-rtl() {
					transform: rotate(180deg);
				}

				&:active {
					background-color: none !important;
					border-color: transparent !important;
				}

				&:hover {
					border: 0 !important;
				}
			}

			button.owl-prev {
				color: #2dc571 !important;

				&:before {
					font-family: simple-line-icons;
					content: "\e07a";
				}
			}

			button.owl-next {
				color: #FFF !important;

				&:before {
					font-family: simple-line-icons;
					content: "\e079";
				}
			}
		}

		&.rounded-nav {
			.owl-nav {
				button.owl-prev {
					&:hover,
					&.hover {
						color: #2bca6e !important;
					}

					&:active,
					&.active {
						color: rgba(#2bca6e, 0.7) !important;
					}
				}

				button.owl-next {
					&:hover,
					&.hover {
						color: #FFF !important;
					}

					&:active,
					&.active {
						color: rgba(#FFF, 0.7) !important;
					}
				}
			}
		}
	}
}

@media (max-width: 991px) {
	.agents {
		&:before {
			width: 97%;
		}
	}
}

// Agent Item
.agent-item {
	border: 1px solid #DDD;
	padding: 4px;
	margin: 0 0 35px;
	padding: 25px 10px;
	p {
		font-size: 0.9em;
		margin: 8px 0 6px;
	}
	&.agent-item-detail {
		padding: 35px;
	}
}

@media (max-width: 991px) {
	.agent-item {
		img {
			margin-bottom: 25px;
		}
		.list.list-icons {
			margin: 20px 0 0 !important;
		}
	}
}

// Page Header
.page-header-light {
	border-bottom: 5px solid #f7f7f7;
	border-top: 5px solid #fff;
	h1 {
		font-weight: 400;
		font-size: 2em;
	}
	.breadcrumb.breadcrumb-valign-mid {
		top: 22%;
	}
}

// Newsletter
.newsletter {
	margin-bottom: 30px;
	border: 2px solid #219cd2;
	
	i {
		display: block;
		font-size: 2.2em;
	}

	form {
		.form-control {
			@include placeholder-color(#444);
			height: 40px;
			font-size: 12px;

			&:nth-child(2) {
				border-top: 0;
			}
		}

		button {
			border: 0 !important;
		}
	}


}

// Footer 
#footer {
	border: none;

	.nav-footer {
		ul {
			padding-#{$left}: 15px;
		}
	}

	.footer-copyright {
		border-top: 0;

		.row {
			border-top: 1px solid #2a313a;
		}
	}

	.twitter {
		.fa, .fas, .far, .fal, .fab {
			color: #35b5e5;
		}

		.status {
			color: #8b94a3;
		}

		.meta {
			a {
				color: #3f4b59;
			}
		}
	}
}