﻿
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div role="main" class="main">
    @{await Html.RenderPartialAsync("_MenuSpacing"); }
    <section class="page-header">
        <div class="container">
            <div class="row ml-1">


                <a href="/Home/Index">Anasayfa</a>
                <span style="color:white;">
                    <p class="ml-1 mr-1">/</p>
                </span>
                <a style="color: gray;">HAKKIMIZDA</a>


            </div>
            <div class="row">
                <div class="col">
                    <h1>HAKKIMIZDA</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="word-rotator-title mb-4">
                    <img src="~/img/logos/izersoftlogo.png">

                    <!--
                                <strong class="inverted inverted-primary">
                                    <span class="word-rotator" data-plugin-options="{'delay': 2000, 'animDelay': 300}">
                                        <span class="word-rotator-items">
                                            <span>success.</span>
                                            <span>advance.</span>
                                            <span>progress.</span>
                                        </span>
                                    </span>
                                </strong>
                                </strong>
                            -->
                </h2>

                <p class="lead">
                    2008 yılından bugüne kadar kurumsal deneyimi ile Izersoft Yazılım ve Bilişim Hizmetleri, İzmir’in önde gelen yazılım firmalarından
                    biridir. Değişen ve gelişen dünyaya entegre şekilde kendini geliştiren Izersoft Yazılım, bilişim sektöründe müşterilerine
                    kaliteli ve profesyonel hizmet vermektedir.
                </p>
                <p class="lead">
                    Kurumsal değerin internet alanında da ortaya konmasının öneminin farkında olan Izersoft Yazılım, bu alanda müşterilerine
                    profesyonel bir hizmet sunar. Kurum prestijini ve kazancını arttırmak için özgün ve işlevsel çözümler sunar. %100 müşteri
                    memnuniyeti anlayışını kendisine prensip edinen Inteso Yazılım ve Bilişim Hizmetleri, web sitenizin sadece yapım aşamasında
                    değil geliştirme ve destek alanında da daima müşterilerinin hizmetindedir.
                </p>
                <p class="lead">
                    Kalıplaşmış, yaratıcı olmayan fikirler yerine müşterilerinin ihtiyaçlarını analiz ederek, kurumlarına prestij katacak yeni
                    ve yaratıcı fikirler sunar. Çalışmaya başlanılan zamandan itibaren kurumun prestij ve kazanç arttırımını hedefleyen
                    Izersoft Yazılım, kesintisiz desteğiyle yanınızda olur. Alanında uzman ve deneyimli ekibiyle sizin ve kurumunuzun hizmetindedir.
                </p>
                <hr class="tall">
            </div>
        </div>
        
    </div>


</div>

