﻿
@{
    ViewData["Title"] = "ArgeTeam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div role="main" class="main">

    @{await Html.RenderPartialAsync("_MenuSpacing"); }
    <section class="page-header">
        <div class="container">
            <div class="row ml-1">


                <a href="/Home/Index">Anasayfa</a>
                <span style="color:white;">
                    <p class="ml-1 mr-1">/</p>
                </span>
                <a style="color: gray;">ARGE EKİBİMİZ</a>


            </div>
            <div class="row">
                <div class="col">
                    <h1>ARGE EKİBİMİZ</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <h2>
            Ekibimiz ile
            <strong>Tanışın</strong>
        </h2>
        <hr>
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-3 isotope-item leadership">
                <span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
                    <span class="thumb-info-wrapper">
                        <a href="about-me.html">
                            <img src="~/img/team/team-1.jpg" class="img-fluid" alt="">
                            <span class="thumb-info-title">
                                <span class="thumb-info-inner">TURGUT DOĞAN İZER</span>
                                <span class="thumb-info-type">Yazılım Mühendisi</span>
                            </span>
                        </a>
                    </span>

                    <span class="thumb-info-caption">
                        <span class="thumb-info-caption-text" style="font-size: 15px">
                            turgut.izer@izersoft.com.tr
                            <br> GSM : 0 (530) 410 25 86
                        </span>
                        <span class="thumb-info-social-icons">
                            <a target="_blank" href="http://www.facebook.com">
                                <i class="fab fa-facebook-f"></i>
                                <span>Facebook</span>
                            </a>
                            <a href="http://www.twitter.com">
                                <i class="fab fa-twitter"></i>
                                <span>Twitter</span>
                            </a>
                            <a href="http://www.linkedin.com">
                                <i class="fab fa-linkedin-in"></i>
                                <span>Linkedin</span>
                            </a>
                        </span>
                    </span>
                </span>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 isotope-item leadership">
                <span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
                    <span class="thumb-info-wrapper">
                        <a href="about-me.html">
                            <img src="~/img/team/team-1.jpg" class="img-fluid" alt="">
                            <span class="thumb-info-title">
                                <span class="thumb-info-inner">HEDİYE DEMİR</span>
                                <span class="thumb-info-type">Grafik Tasarımcı</span>
                            </span>
                        </a>
                    </span>

                    <span class="thumb-info-caption">
                        <span class="thumb-info-caption-text" style="font-size: 15px">
                            hediye.demir@izersoft.com.tr
                            <br> GSM : 0 (530) 410 25 86
                        </span>
                        <span class="thumb-info-social-icons">
                            <a target="_blank" href="http://www.facebook.com">
                                <i class="fab fa-facebook-f"></i>
                                <span>Facebook</span>
                            </a>
                            <a href="http://www.twitter.com">
                                <i class="fab fa-twitter"></i>
                                <span>Twitter</span>
                            </a>
                            <a href="http://www.linkedin.com">
                                <i class="fab fa-linkedin-in"></i>
                                <span>Linkedin</span>
                            </a>
                        </span>
                    </span>
                </span>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 isotope-item leadership">
                <span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
                    <span class="thumb-info-wrapper">
                        <a href="about-me.html">
                            <img src="~/img/team/team-1.jpg" class="img-fluid" alt="">
                            <span class="thumb-info-title">
                                <span class="thumb-info-inner">SAVAŞ ZENGİN</span>
                                <span class="thumb-info-type">Yazılım Mühendisi</span>
                            </span>
                        </a>
                    </span>

                    <span class="thumb-info-caption">
                        <span class="thumb-info-caption-text" style="font-size: 15px">
                            savas.zengin@izersoft.com.tr
                            <br> GSM : 0 (530) 410 25 86
                        </span>
                        <span class="thumb-info-social-icons">
                            <a target="_blank" href="http://www.facebook.com">
                                <i class="fab fa-facebook-f"></i>
                                <span>Facebook</span>
                            </a>
                            <a href="http://www.twitter.com">
                                <i class="fab fa-twitter"></i>
                                <span>Twitter</span>
                            </a>
                            <a href="http://www.linkedin.com">
                                <i class="fab fa-linkedin-in"></i>
                                <span>Linkedin</span>
                            </a>
                        </span>
                    </span>
                </span>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 isotope-item leadership">
                <span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
                    <span class="thumb-info-wrapper">
                        <a href="about-me.html">
                            <img src="~/img/team/team-1.jpg" class="img-fluid" alt="">
                            <span class="thumb-info-title">
                                <span class="thumb-info-inner">SELİM ÇAKMAK</span>
                                <span class="thumb-info-type">CEO</span>
                            </span>
                        </a>
                    </span>

                    <span class="thumb-info-caption">
                        <span class="thumb-info-caption-text" style="font-size: 15px">
                            selim.cakmak@izersoft.com.tr
                            <br> GSM : 0 (530) 410 25 86
                        </span>
                        <span class="thumb-info-social-icons">
                            <a target="_blank" href="http://www.facebook.com">
                                <i class="fab fa-facebook-f"></i>
                                <span>Facebook</span>
                            </a>
                            <a href="http://www.twitter.com">
                                <i class="fab fa-twitter"></i>
                                <span>Twitter</span>
                            </a>
                            <a href="http://www.linkedin.com">
                                <i class="fab fa-linkedin-in"></i>
                                <span>Linkedin</span>
                            </a>
                        </span>
                    </span>
                </span>
            </div>

        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-3 isotope-item leadership">
                <span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
                    <span class="thumb-info-wrapper">
                        <a href="about-me.html">
                            <img src="~/img/team/team-1.jpg" class="img-fluid" alt="">
                            <span class="thumb-info-title">
                                <span class="thumb-info-inner">ERGÜN TOPRAK</span>
                                <span class="thumb-info-type">Yazılım Mühendisi</span>
                            </span>
                        </a>
                    </span>

                    <span class="thumb-info-caption">
                        <span class="thumb-info-caption-text" style="font-size: 15px">
                            ergun.toprak@izersoft.com.tr
                            <br> GSM : 0 (530) 410 25 86
                        </span>
                        <span class="thumb-info-social-icons">
                            <a target="_blank" href="http://www.facebook.com">
                                <i class="fab fa-facebook-f"></i>
                                <span>Facebook</span>
                            </a>
                            <a href="http://www.twitter.com">
                                <i class="fab fa-twitter"></i>
                                <span>Twitter</span>
                            </a>
                            <a href="http://www.linkedin.com">
                                <i class="fab fa-linkedin-in"></i>
                                <span>Linkedin</span>
                            </a>
                        </span>
                    </span>
                </span>
            </div>
       
         

        </div>
        <hr>


    </div>

</div>

