﻿
@{
    ViewData["Title"] = "Chechkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div role="main" class="main shop">
    @{await Html.RenderPartialAsync("_MenuSpacing"); }
    <div class="container">

        <div class="row">
            <div class="col">
                <hr class="tall mt-4">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h2 class="mb-0"><strong>Checkout</strong></h2>
                <p>Returning customer? <a href="shop-login.html">Click here to login.</a></p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-9">

                <div class="accordion" id="accordion">
                    <div class="card card-default">
                        <div class="card-header">
                            <h4 class="card-title m-0">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true">
                                    Billing Address
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="collapse show">
                            <div class="card-body">
                                <form action="/" id="frmBillingAddress" method="post">
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <label>Country</label>
                                            <select class="form-control">
                                                <option value="">Select a country</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-lg-6">
                                            <label>First Name</label>
                                            <input type="text" value="" class="form-control">
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label>Last Name</label>
                                            <input type="text" value="" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <label>Company Name</label>
                                            <input type="text" value="" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <label>Address </label>
                                            <input type="text" value="" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <label>City </label>
                                            <input type="text" value="" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <input type="submit" value="Continue" class="btn btn-primary float-right mb-2" data-loading-text="Loading...">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card card-default">
                        <div class="card-header">
                            <h4 class="card-title m-0">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true">
                                    Shipping Address
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="collapse show" style="">
                            <div class="card-body">
                                <form action="/" id="frmShippingAddress" method="post">
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" checked="checked" id="" name=""> Ship to billing address?
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <label>Country</label>
                                            <select class="form-control">
                                                <option value="">Select a country</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-lg-6">
                                            <label>First Name</label>
                                            <input type="text" value="" class="form-control">
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label>Last Name</label>
                                            <input type="text" value="" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <label>Company Name</label>
                                            <input type="text" value="" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <label>Address </label>
                                            <input type="text" value="" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <label>City </label>
                                            <input type="text" value="" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <input type="submit" value="Continue" class="btn btn-primary float-right mb-2" data-loading-text="Loading...">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card card-default">
                        <div class="card-header">
                            <h4 class="card-title m-0">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true">
                                    Review &amp; Payment
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="collapse show" style="">
                            <div class="card-body">
                                <table class="shop_table cart">
                                    <thead>
                                        <tr>
                                            <th class="product-thumbnail">
                                                &nbsp;
                                            </th>
                                            <th class="product-name">
                                                Product
                                            </th>
                                            <th class="product-price">
                                                Price
                                            </th>
                                            <th class="product-quantity">
                                                Quantity
                                            </th>
                                            <th class="product-subtotal">
                                                Total
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="cart_table_item">
                                            <td class="product-thumbnail">
                                                <a href="shop-product-sidebar.html">
                                                    <img width="100" height="100" alt="" class="img-fluid" src="~/img/products/product-1.jpg">
                                                </a>
                                            </td>
                                            <td class="product-name">
                                                <a href="shop-product-sidebar.html">Photo Camera</a>
                                            </td>
                                            <td class="product-price">
                                                <span class="amount">$299</span>
                                            </td>
                                            <td class="product-quantity">
                                                1
                                            </td>
                                            <td class="product-subtotal">
                                                <span class="amount">$299</span>
                                            </td>
                                        </tr>
                                        <tr class="cart_table_item">
                                            <td class="product-thumbnail">
                                                <a href="shop-product-sidebar.html">
                                                    <img width="100" height="100" alt="" class="img-fluid" src="~/img/products/product-2.jpg">
                                                </a>
                                            </td>
                                            <td class="product-name">
                                                <a href="shop-product-sidebar.html">Golf Bag</a>
                                            </td>
                                            <td class="product-price">
                                                <span class="amount">$72</span>
                                            </td>
                                            <td class="product-quantity">
                                                1
                                            </td>
                                            <td class="product-subtotal">
                                                <span class="amount">$72</span>
                                            </td>
                                        </tr>
                                        <tr class="cart_table_item">
                                            <td class="product-thumbnail">
                                                <a href="shop-product-sidebar.html">
                                                    <img width="100" height="100" alt="" class="img-fluid" src="~/img/products/product-3.jpg">
                                                </a>
                                            </td>
                                            <td class="product-name">
                                                <a href="shop-product-sidebar.html">Workout</a>
                                            </td>
                                            <td class="product-price">
                                                <span class="amount">$60</span>
                                            </td>
                                            <td class="product-quantity">
                                                1
                                            </td>
                                            <td class="product-subtotal">
                                                <span class="amount">$60</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <hr class="tall">

                                <h4 class="heading-primary">Cart Totals</h4>
                                <table class="cart-totals">
                                    <tbody>
                                        <tr class="cart-subtotal">
                                            <th>
                                                <strong>Cart Subtotal</strong>
                                            </th>
                                            <td>
                                                <strong><span class="amount">$431</span></strong>
                                            </td>
                                        </tr>
                                        <tr class="shipping">
                                            <th>
                                                Shipping
                                            </th>
                                            <td>
                                                Free Shipping<input type="hidden" value="free_shipping" id="shipping_method" name="shipping_method">
                                            </td>
                                        </tr>
                                        <tr class="total">
                                            <th>
                                                <strong>Order Total</strong>
                                            </th>
                                            <td>
                                                <strong><span class="amount">$431</span></strong>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <hr class="tall">

                                <h4 class="heading-primary">Payment</h4>

                                <form action="/" id="frmPayment" method="post">
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" checked="checked" id="" name=""> Direct Bank Transfer
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" checked="checked" id="" name=""> Cheque Payment
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" checked="checked" id="" name=""> Paypal
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">

                        <input class="form-check-input" type="checkbox" checked="checked" id="" name="">
                        <a class="mt-1 mb-1 popup-with-move-anim  text-primary" href="#small-dialog">Open with fade-slide animation</a>

                        <!-- Dialog -->
                        <div id="small-dialog" class="dialog dialog-sm zoom-anim-dialog mfp-hide">
                            <h1>Dialog example</h1>
                            <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed.</p>
                        </div>

                    </div>
                    <div class="actions-continue">
                        <input type="submit" value="Place Order" name="proceed" class="btn btn-lg btn-primary mt-5 mb-5 mb-lg-0">
                    </div>
                </div>
              

            </div>
            <div class="col-lg-3">
                <h4 class="heading-primary">Cart Totals</h4>
                <table class="cart-totals">
                    <tbody>
                        <tr class="cart-subtotal">
                            <th>
                                <strong>Cart Subtotal</strong>
                            </th>
                            <td>
                                <strong><span class="amount">$431</span></strong>
                            </td>
                        </tr>
                        <tr class="shipping">
                            <th>
                                Shipping
                            </th>
                            <td>
                                Free Shipping<input type="hidden" value="free_shipping" id="shipping_method" name="shipping_method">
                            </td>
                        </tr>
                        <tr class="total">
                            <th>
                                <strong>Order Total</strong>
                            </th>
                            <td>
                                <strong><span class="amount">$431</span></strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>

