﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!--
 <script src="~/"~/vendor/jquery/jquery.min.js"></script>
<script src="~/"~/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="~/"~/js/theme.js"></script>
<script src="~/"~/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="~/"~/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script src="~/"~/vendor/circle-flip-slideshow/js/jquery.flipshow.min.js"></script>
-->
<div role="main" class="main">
    <div class="slider-container rev_slider_wrapper" style="height: 1000px;">
        <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.7" data-plugin-revolution-slider data-plugin-options="{'sliderLayout': 'fullscreen', 'responsiveLevels': [4096,1200,992,500]}">
            <ul>
                <li data-transition="fade">
                    <img src="~/img/slides/slide-bg-full-2-dark.jpg"
                         alt=""
                         data-bgposition="center center"
                         data-bgfit="cover"
                         data-bgrepeat="no-repeat"
                         class="rev-slidebg">

                    <div class="tp-caption"
                         data-x="center" data-hoffset="['-150','-150','-150','-220']"
                         data-y="180"
                         data-start="1000"
                         data-transform_in="x:[-300%];opacity:0;s:500;"><img src="~/img/slides/slide-title-border.png" alt=""></div>

                    <div class="tp-caption top-label"
                         data-x="center"
                         data-y="172"
                         data-fontsize="['24','24','24','36']"
                         data-start="500"
                         data-transform_in="y:[-300%];opacity:0;s:500;">TEKNOLOJİYİ</div>

                    <div class="tp-caption"
                         data-x="center" data-hoffset="['150','150','150','220']"
                         data-y="180"
                         data-start="1000"
                         data-transform_in="x:[300%];opacity:0;s:500;"><img src="~/img/slides/slide-title-border.png" alt=""></div>

                    <div class="tp-caption main-label"
                         data-x="center"
                         data-y="['210','210','210','230']"
                         data-start="1500"
                         data-whitespace="nowrap"
                         data-fontsize="['62','62','62','92']"
                         data-transform_in="y:[100%];s:500;"
                         data-transform_out="opacity:0;s:500;"
                         data-mask_in="x:0px;y:0px;">İZERSOFT</div>

                    <div class="tp-caption bottom-label"
                         data-x="center"
                         data-y="['280','280','280','315']"
                         data-start="2000"
                         data-fontsize="['20','20','20','40']"
                         data-transform_in="y:[100%];opacity:0;s:500;">İLE YAKALAYIN.</div>

                    <a class="tp-caption btn btn-lg btn-primary btn-slider-action"
                       data-hash
                       data-hash-offset="85"
                       href="#home-intro"
                       data-x="center" data-hoffset="0"
                       data-y="center" data-voffset="['100','100','100','190']"
                       data-start="2200"
                       data-whitespace="nowrap"
                       data-paddingtop="['20','20','20','40']"
                       data-paddingbottom="['20','20','20','40']"
                       data-paddingleft="['25','25','25','45']"
                       data-paddingright="['25','25','25','45']"
                       data-fontsize="['22','22','22','52']"
                       data-transform_in="y:[100%];s:500;"
                       data-transform_out="opacity:0;s:500;"
                       style="z-index: 5"
                       data-mask_in="x:0px;y:0px;">Hadi Başlayalım!</a>

                </li>
            </ul>
        </div>
    </div>


</div>







<div class="home-intro" id="home-intro">
    <div class="container">

        <div class="row align-items-center">
            <div class="col-lg-8">
                <p>

                    İşinizde büyümenin en hızlı yolu <strong>Teknoloji</strong>
                    <span>seçeneklerimizi ve özelliklerimizi inceleyin.</span>
                </p>
            </div>
            <div class="col-lg-4">
                <div class="get-started text-left text-lg-right">
                    <a href="#" class="btn btn-lg btn-primary">Get Started Now!</a>
                    <div class="learn-more">or <a href="index.html">learn more.</a></div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container">

    <div class="row text-center">
        <div class="col">
            <h1 class="mb-2 word-rotator-title">
                İzersoft olarak
                <strong class="inverted">
                    <span class="word-rotator padding" data-plugin-options="{'delay': 2000, 'animDelay': 300}">
                        <span class="word-rotator-items" style="padding-top:4px; font-size:29px;">
                            <span>Kurumsal Web Sitesi</span>
                            <span>E-Ticacet Sistemleri</span>
                            <span>Domain Tescil / Hosting Hizmeti</span>
                            <span>Kurumsal Kimlik Çalışmaları</span>
                            <span>Özel Yazılım Çözümleri</span>
                            <span>İnternet Reklamcılığı</span>
                            <span>Sosyal Medya Yöneticiliği</span>
                            <span>Otomasyon Sistemleri</span>
                            <span>Nesnelerin İnterneti</span>
                        </span>
                    </span>
                </strong>
                çözümleri sunuyoruz.
            </h1>

        </div>
    </div>

</div>

<div class="home-concept mt-5">
    <div class="container">

        <div class="row text-center">
            <span class="sun"></span>
            <span class="cloud"></span>
            <div class="col-lg-2 ml-lg-auto">
                <div class="process-image">
                    <img src="~/img/step1.png" />
                    <strong style="font-family:Calibri">Analiz Yapıyoruz</strong>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="process-image">
                    <img src="~/img/step2.png" />
                    <strong style="font-family:Calibri">İş Planımızı Oluşturuyoruz</strong>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="process-image">
                    <img src="~/img/step3.png" />
                    <strong style="font-family:Calibri">Kalite Kontrol Testi Uyguluyoruz</strong>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="process-image">
                    <img src="~/img/step4.png" />
                    <strong style="font-family:Calibri">Sizlerin Onayına Sunuyoruz</strong>
                </div>
            </div>
            <div class="col-lg-3 ml-lg-auto">
                <div class="project-image">
                    <div id="fcSlideshow" class="fc-slideshow">
                        <ul class="fc-slides">
                            <li><a href="portfolio-single-small-slider.html"><img class="img-responsive" src="~/img/step5.png" alt="" /></a></li>
                        </ul>
                    </div>
                    <strong style="font-family:Calibri" class="our-work">Teslim Ediyoruz...</strong>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="container">
    <div class="row counters">
        <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
            <div class="counter counter-dark">
                <i class="fas fa-user"></i>
                <strong data-to="543" data-append="+">0</strong>
                <label>Happy Clients</label>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
            <div class="counter counter-dark">
                <i class="fas fa-star"></i>
                <strong data-to="15">0</strong>
                <label>Years in Business</label>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 mb-4 mb-sm-0">
            <div class="counter counter-dark">
                <i class="fas fa-coffee"></i>
                <strong data-to="352">0</strong>
                <label>Cups of Coffee</label>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="counter counter-dark">
                <i class="far fa-chart-bar"></i>
                <strong data-to="178">0</strong>
                <label>High Score</label>
            </div>
        </div>
    </div>

</div>

<hr class="tall">
<div class="container">
    <div class="row text-center pt-4">
        <div class="col">
            <h2 class="mb-2 word-rotator-title">
                <strong>Çözüm Ortağımız Olan Teknolojiler</strong>

            </h2>

        </div>
    </div>
    <br />
    <br />
    <div class="row text-center">
        <div class="owl-carousel owl-theme" data-plugin-options="{'items': 6, 'autoplay': true, 'autoplayTimeout': 3000}">
            <div>
                <img class="img-fluid" src="~/img/Partner-1.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="~/img/Partner-2.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="~/img/Partner-3.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="~/img/Partner-4.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="~/img/Partner-5.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="~/img/Partner-6.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="~/img/Partner-7.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="~/img/Partner-8.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="~/img/Partner-9.png" alt="">
            </div>
        </div>
    </div>

</div>
<section class="call-to-action call-to-action-default with-button-arrow content-align-center call-to-action-in-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-lg-9">
                <div class="call-to-action-content">
                    <h1> <strong>Izersoft</strong>  olarak tüm sorularınızı cevaplıyor ve çözümler üretiyoruz...</h1>
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <div class="call-to-action-btn">
                    <a href="/Home/Contact" target="_blank" class="btn btn-lg btn-primary">Bize Ulaşın</a><span class="arrow hlb d-none d-md-block" data-appear-animation="rotateInUpLeft" style="top: -40px; left: 70%;"></span>
                </div>
            </div>
        </div>
    </div>
</section>
</div>


