﻿
@{
    ViewData["Title"] = "InternetAdvertisement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div role="main" class="main">

    @{await Html.RenderPartialAsync("_MenuSpacing"); }
    <section class="page-header">
        <div class="container">
            <div class="row ml-1">


                <a href="/Home/Index">Anasayfa</a>
                <span style="color:white;">
                    <p class="ml-1 mr-1">/</p>
                </span>
                <a style="color: gray;">İNTERNET REKLAMCILIĞI HİZMETİ</a>


            </div>
            <div class="row">
                <div class="col">
                    <h1>İNTERNET REKLAMCILIĞI HİZMETİ</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container">







        <div class="row">
            <div class="col">
                <h2 style="text-align: center">
                    <strong class="text-primary">İNTERNET REKLAMCILIĞI HİZMETİ</strong>
                </h2>
            </div>
        </div>







        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="word-rotator-title mb-4">
                    <img class="img-fluid max-width: 100%;" src="~/img/internet-advertisment.png">
                </h2>
            </div>
        </div>





        <div class="row align-items-center">

            <div class="col" style="text-align:center">




                <p class="lead">
                    Günümüz dünyasında kullanıcılar ürün ve hizmet araştırmalarının ve satın alma işlemlerinin büyük bir kısmını internet üzerinden
                    yapmaktadırlar, bu nedenle reklamcılık anlayışında yeni kavramlar gelişmektedir. İnternet reklamcılığı diğer reklam
                    türleri ile karşılaştırıldığında hedefe daha doğru ve hızlı biçimde ulaştığı görülmektedir. İnternet reklamcılığında
                    önemli olan, ürün ve hizmetlerinizin, ilgili piyasanın incelenmesi ve hedef kitlenizin belirlenmesi aşamalarından
                    sonra seçilecek uygun bir reklam kanalı ile reklamlarınızın verilmesi ve maksimum geri dönüş sağlanmasıdır. İnternet
                    reklamcılığı profesyonel kişiler tarafından yerine getirilmesi gereken bir hizmettir, böylece optimum şekilde reklamlarınız
                    yayınlanır, siz de minumum maliyet ile en hızlı geri dönüşleri alabilirsiniz.
                </p>
                <p class="lead">
                    Türkiye'de internet kullanıcıların %90'ı aramalarını "Google" üzerinden yaptıklarından, "İnternet Reklamcılığı" denilince
                    akla ilk gelen Google reklamlarıdır. Google reklamları; kullanıcıların sizi bulmalarını istediğiniz kelimeler için,
                    tıklama başı yada gösterim başı belirli bir ücret ödeyerek aldığınız reklam hizmetidir. Hedef kitle belirleyebilme
                    imkanı sayesinde sadece sizi, yaptığınız işi arayan/araştıran kişiler size ulaşır, bu nedenle de hem ekonomik hem
                    de reklam geri dönüş oranı daha fazladır. Goole reklamları sürekli takip ve geri dönüşüm izleme gerektiren, sürekli
                    optimize edilmesi gereken reklamlardır. Reklamın bir kere hazırlanıp başlatılması ne yazıkki yeterli gelmemektedir.
                    Verilen reklamlar sürekli izlenerek gerekli geliştirmeler yapılmalıdır.
                </p>
                <p class="lead">
                    Google haricinde, web sitenizin amacına ve hedef kitlesine bağlı olarak başka web sitelerinde, firma rehbelerinde ya da sosyal
                    medya sitelerinde de reklamlar verilebilir. Bu tamamen hedef kitlenizin kimler olduğuna bağlıdır. Örneğin hedef
                    kitleniz çocuklar ise bazen oyun sitelerinde reklam vermeniz daha fazla geri dönüş almanızı sağlayabilir. Satışını
                    gerçekleştirmek istediğiniz ürün yada hizmetin hedef kitlesi, potansiyel satış hacmi, müşyerilerin profili çıkarılarak
                    en uygun kanallar reklam verilmesi gerekmektedir. İnternet üzerinde verilen özellikle görsel ve video reklamların
                    ise büyük çoğunluğu firma/marka bilinirliğinin arttırılması için gerçekleştirilir. Bu tip reklamlarda amaç ürün
                    ve ya hizmet satışının heman yapılmabilmesinden ziyade, markanın insanların bilinçaltına yerleştirilmesini sağlamaktır.
                </p>



            </div>

        </div>

        <div class="row">
            <div class="col">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-google-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"
                           aria-selected="true">Google Reklam</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-facebook-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
                           aria-selected="false">Facebook Reklam</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-instagram-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact"
                           aria-selected="false">Instagram Reklam</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-youtube-tab" data-toggle="pill" href="#pills-youtube" role="tab" aria-controls="pills-contact"
                           aria-selected="false">Youtube Reklam</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-google-tab">















                        <div class="pricing-table row no-gutters mt-2 mb-2">
                            <div class="col-lg-3 col-sm-6">
                                <div class="plan">
                                    <h3>
                                        EKONOMİK
                                        <span>250TL</span>
                                    </h3>
                                    <a class="btn btn-lg btn-primary" href="#">Satın Al</a>
                                    <ul>
                                        <li>
                                            <strong>Anahtar Kelime Planlama</strong>
                                        <li>
                                            <strong>Hedef Kitle Danışmanlığı</strong>
                                        </li>

                                        <li>
                                            <strong>Sitenize Uygun Diğer Öneriler</strong>
                                        </li>
                                        <li>
                                            <strong>Ücretsiz Uzman Desteği</strong>
                                        </li>
                                        <li>
                                            <strong>Telefon Destek Yok</strong>
                                        </li>
                                        <li>
                                            <strong></strong>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 text-center">
                                <div class="plan most-popular">
                                    <div class="plan-ribbon-wrapper">
                                        <div class="plan-ribbon">Popüler</div>
                                    </div>
                                    <h3>
                                        STANDART
                                        <span>500TL</span>
                                    </h3>
                                    <a class="btn btn-lg btn-primary" href="#">Satın Al</a>
                                    <ul>
                                        <li>
                                            <strong>Anahtar Kelime Planlama</strong>
                                        <li>
                                            <strong>Hedef Kitle Danışmanlığı</strong>
                                        </li>

                                        <li>
                                            <strong>Sitenize Uygun Diğer Öneriler</strong>
                                        </li>
                                        <li>
                                            <strong>Ücretsiz Uzman Desteği </strong>
                                        </li>
                                        <li>
                                            <strong>Telefon Destek Var</strong>
                                        </li>
                                        <li>
                                            <strong></strong>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="plan">
                                    <h3>
                                        İdeal Paket
                                        <span>750TL</span>
                                    </h3>
                                    <a class="btn btn-lg btn-primary" href="#">Satın Al</a>
                                    <ul>
                                        <li>
                                            <strong>Anahtar Kelime Planlama</strong>
                                        <li>
                                            <strong>Hedef Kitle Danışmanlığı</strong>
                                        </li>

                                        <li>
                                            <strong>Sitenize Uygun Diğer Öneriler</strong>
                                        </li>
                                        <li>
                                            <strong>Ücretsiz Uzman Desteği Ve SEO Analizi </strong>
                                        </li>
                                        <li>
                                            <strong>Telefon Destek Var</strong>
                                        </li>
                                        <li>
                                            <strong></strong>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="plan">
                                    <h3>
                                        Özel Paket
                                        <span>...</span>
                                    </h3>
                                    <a class="btn btn-lg btn-primary" href="#">Teklif İste</a>
                                    <ul>
                                        <li>
                                            <strong>Sizin isteğinize özel belirltilmiş özel tasarım çalışmaları ve yazılım geliştirmeleri yapılır.</strong>
                                        </li>
                                        <li>
                                            <strong></strong>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>



























                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-facebook-tab">

                        <div class="pricing-table row no-gutters mt-2 mb-2">
                            <div class="col-lg-3 col-sm-6">
                                <div class="plan">
                                    <h3>
                                        EKONOMİK
                                        <span>350TL</span>
                                    </h3>
                                    <a class="btn btn-lg btn-primary" href="#">Satın Al</a>
                                    <ul>
                                        <li>
                                            <strong>Demografi Planlama</strong>
                                        <li>
                                            <strong>Ücretsiz Uzman Desteği</strong>
                                        </li>

                                        <li>
                                            <strong>Remarketing Hedefleme Yok</strong>
                                        </li>
                                        <li>
                                            <strong>Hediye Banner Tasarım Yok</strong>
                                        </li>
                                        <li>
                                            <strong>Telefon Destek Yok</strong>
                                        </li>
                                        <li>
                                            <strong></strong>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 text-center">
                                <div class="plan most-popular">
                                    <div class="plan-ribbon-wrapper">
                                        <div class="plan-ribbon">Popüler</div>
                                    </div>
                                    <h3>
                                        STANDART
                                        <span>490TL</span>
                                    </h3>
                                    <a class="btn btn-lg btn-primary" href="#">Satın Al</a>
                                    <ul>
                                        <li>
                                            <strong>Demografi Planlama</strong>
                                        <li>
                                            <strong>Ücretsiz Uzman Desteği</strong>
                                        </li>

                                        <li>
                                            <strong>Remarketing Hedefleme Yok</strong>
                                        </li>
                                        <li>
                                            <strong>Hediye Banner Tasarım Var</strong>
                                        </li>
                                        <li>
                                            <strong>Telefon Destek Var</strong>
                                        </li>
                                        <li>
                                            <strong></strong>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="plan">
                                    <h3>
                                        İdeal Paket
                                        <span>990TL</span>
                                    </h3>
                                    <a class="btn btn-lg btn-primary" href="#">Satın Al</a>
                                    <ul>
                                        <li>
                                            <strong>Demografi Planlama</strong>
                                        <li>
                                            <strong>Ücretsiz Uzman Desteği</strong>
                                        </li>

                                        <li>
                                            <strong>Remarketing Hedefleme Var</strong>
                                        </li>
                                        <li>
                                            <strong>Hediye Banner Tasarım Var</strong>
                                        </li>
                                        <li>
                                            <strong>Telefon Destek Var</strong>
                                        </li>
                                        <li>
                                            <strong></strong>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="plan">
                                    <h3>
                                        Özel Paket
                                        <span>...</span>
                                    </h3>
                                    <a class="btn btn-lg btn-primary" href="#">Teklif İste</a>
                                    <ul>
                                        <li>
                                            <strong>Sizin isteğinize özel belirltilmiş özel tasarım çalışmaları ve yazılım geliştirmeleri yapılır.</strong>
                                        </li>
                                        <li>
                                            <strong></strong>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-instagram-tab">
                        <div class="pricing-table row no-gutters mt-2 mb-2">
                            <div class="col-lg-3 col-sm-6">
                                <div class="plan">
                                    <h3>
                                        EKONOMİK
                                        <span>350TL</span>
                                    </h3>
                                    <a class="btn btn-lg btn-primary" href="#">Satın Al</a>
                                    <ul>
                                        <li>
                                            <strong>Demografi Planlama</strong>
                                        <li>
                                            <strong>Ücretsiz Uzman Desteği</strong>
                                        </li>

                                        <li>
                                            <strong>Remarketing Hedefleme Yok</strong>
                                        </li>
                                        <li>
                                            <strong>Hediye Banner Tasarım Yok</strong>
                                        </li>
                                        <li>
                                            <strong>Telefon Destek Yok</strong>
                                        </li>
                                        <li>
                                            <strong></strong>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 text-center">
                                <div class="plan most-popular">
                                    <div class="plan-ribbon-wrapper">
                                        <div class="plan-ribbon">Popüler</div>
                                    </div>
                                    <h3>
                                        STANDART
                                        <span>490TL</span>
                                    </h3>
                                    <a class="btn btn-lg btn-primary" href="#">Satın Al</a>
                                    <ul>
                                        <li>
                                            <strong>Demografi Planlama</strong>
                                        <li>
                                            <strong>Ücretsiz Uzman Desteği</strong>
                                        </li>

                                        <li>
                                            <strong>Remarketing Hedefleme Yok</strong>
                                        </li>
                                        <li>
                                            <strong>Hediye Banner Tasarım Var</strong>
                                        </li>
                                        <li>
                                            <strong>Telefon Destek Var</strong>
                                        </li>
                                        <li>
                                            <strong></strong>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="plan">
                                    <h3>
                                        İdeal Paket
                                        <span>990TL</span>
                                    </h3>
                                    <a class="btn btn-lg btn-primary" href="#">Satın Al</a>
                                    <ul>
                                        <li>
                                            <strong>Demografi Planlama</strong>
                                        <li>
                                            <strong>Ücretsiz Uzman Desteği</strong>
                                        </li>

                                        <li>
                                            <strong>Remarketing Hedefleme Var</strong>
                                        </li>
                                        <li>
                                            <strong>Hediye Banner Tasarım Var</strong>
                                        </li>
                                        <li>
                                            <strong>Telefon Destek Var</strong>
                                        </li>
                                        <li>
                                            <strong></strong>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="plan">
                                    <h3>
                                        Özel Paket
                                        <span>...</span>
                                    </h3>
                                    <a class="btn btn-lg btn-primary" href="#">Teklif İste</a>
                                    <ul>
                                        <li>
                                            <strong>Sizin isteğinize özel belirltilmiş özel tasarım çalışmaları ve yazılım geliştirmeleri yapılır.</strong>
                                        </li>
                                        <li>
                                            <strong></strong>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-youtube" role="tabpanel" aria-labelledby="pills-youtube-tab">
                        <div class="pricing-table row no-gutters mt-2 mb-2">
                            <div class="col-lg-3 col-sm-6">
                                <div class="plan">
                                    <h3>
                                        EKONOMİK
                                        <span>140TL</span>
                                    </h3>
                                    <a class="btn btn-lg btn-primary" href="#">Satın Al</a>
                                    <ul>
                                        <li>
                                            <strong>Hedef Kitle Danışmanlığı</strong>
                                        <li>
                                            <strong>Sitenize Uygun Diğer Öneriler</strong>
                                        </li>

                                        <li>
                                            <strong>Ücretsiz Uzman Desteği</strong>
                                        </li>
                                        <li>
                                            <strong>Telefon Destek Yok</strong>
                                        </li>
                                        <li>
                                            <strong></strong>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 text-center">
                                <div class="plan most-popular">
                                    <div class="plan-ribbon-wrapper">
                                        <div class="plan-ribbon">Popüler</div>
                                    </div>
                                    <h3>
                                        STANDART
                                        <span>490TL</span>
                                    </h3>
                                    <a class="btn btn-lg btn-primary" href="#">Satın Al</a>
                                    <ul>
                                        <li>
                                            <strong>Hedef Kitle Danışmanlığı</strong>
                                        <li>
                                            <strong>Sitenize Uygun Diğer Öneriler</strong>
                                        </li>

                                        <li>
                                            <strong>Ücretsiz Uzman Desteği</strong>
                                        </li>
                                        <li>
                                            <strong>Telefon Destek Var</strong>
                                        </li>
                                        <li>
                                            <strong></strong>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="plan">
                                    <h3>
                                        İdeal Paket
                                        <span>990TL</span>
                                    </h3>
                                    <a class="btn btn-lg btn-primary" href="#">Satın Al</a>
                                    <ul>
                                        <li>
                                            <strong>Hedef Kitle Danışmanlığı</strong>
                                        <li>
                                            <strong>Sitenize Uygun Diğer Öneriler</strong>
                                        </li>

                                        <li>
                                            <strong>Ücretsiz Uzman Desteği</strong>
                                        </li>
                                        <li>
                                            <strong>Telefon Destek Var</strong>
                                        </li>
                                        <li>
                                            <strong></strong>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="plan">
                                    <h3>
                                        Özel Paket
                                        <span>...</span>
                                    </h3>
                                    <a class="btn btn-lg btn-primary" href="#">Teklif İste</a>
                                    <ul>
                                        <li>
                                            <strong>Sizin isteğinize özel belirltilmiş özel tasarım çalışmaları ve yazılım geliştirmeleri yapılır.</strong>
                                        </li>
                                        <li>
                                            <strong></strong>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>





















        <hr>




        <div class="container">



            <div class="row">
                <div class="col text-center">

                    <h4 class="mb-2">
                        <strong>
                            <img src="~/img/logos/izersoftlogo.png">
                        </strong>
                    </h4>
                    <p>Sizin için en kaliteli yöntemi en uygun fiyata sunmak için çalışıyoruz.</p>
                </div>
            </div>






















            <div class="container">

                <div class="row">
                    <div class="col-lg-6">

                        <div class="alert alert-success d-none mt-4" id="contactSuccess">
                            <strong>Success!</strong> Your message has been sent to us.
                        </div>

                        <div class="alert alert-danger d-none mt-4" id="contactError">
                            <strong>Error!</strong> There was an error sending your message.
                            <span class="text-1 mt-2 d-block" id="mailErrorMessage"></span>
                        </div>

                        <h2 class="mb-3 mt-2">
                            <strong>Hızlı Teklif Formu</strong>
                        </h2>

                        <form id="contactForm" action="php/contact-form.php" method="POST">
                            <div class="form-row">
                                <div class="form-group col-lg-6">
                                    <label>Adınız Soyadınız *</label>
                                    <input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="name"
                                           id="name" required>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>E-Posta Adresiniz *</label>
                                    <input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address."
                                           maxlength="100" class="form-control" name="email" id="email" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-lg-6">
                                    <label>Konu Başlığı</label>
                                    <input type="text" value="" data-msg-required="Please enter the subject." maxlength="100" class="form-control" name="subject"
                                           id="subject" required>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Telefon Numaranız * </label>
                                    <input type="text" value="" data-msg-required="Please enter the subject." maxlength="100" class="form-control" name="subject"
                                           id="subject" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <label>Mesajınız *</label>
                                    <textarea maxlength="5000" data-msg-required="Please enter your message." rows="10" class="form-control" name="message" id="message"
                                              required></textarea>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <input type="submit" value="Gönder" class="btn btn-primary btn-lg" data-loading-text="Loading...">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-6">

                        <h4 class="heading-primary mt-4">
                            <strong>Bilgilendirme</strong>
                        </h4>
                        <p style="text-align: center">
                            Bizimle direkt bağlantı kurmak veya hizmetlerimiz hakkında bilgi almak için sol yandaki bilgi formunu kullanın.
                            Sizinle daha kolay ve çabuk bağlantı kurabilmemiz için bilgi formundaki tüm alanların doldurulmasını rica ederiz.
                        </p>

                        <hr>

                        <h4 class="heading-primary">
                            <strong>Ofis</strong>
                        </h4>
                        <ul class="list list-icons list-icons-style-3 mt-4">
                            <li>
                                <i class="fas fa-map-marker-alt"></i>
                                <strong>Addres:</strong> 1266 Sokak No:10 K:6 D:601 Konak - İzmir
                            </li>
                            <li>
                                <i class="fas fa-phone mr-1"></i>
                                <strong>Telefon:</strong> (530) 410 25 86
                            </li>
                            <li>
                                <i class="fas fa-phone mr-1"></i>
                                <strong>Telefon:</strong> (232) 278 10 80
                            </li>
                            <li>
                                <i class="far fa-envelope"></i>
                                <strong>Email:</strong>
                                <a href="mailto:info@izersoft.com.tr">info@izersoft.com.tr</a>
                            </li>
                        </ul>

                        <hr>

                        <h4 class="heading-primary">
                            <strong>Çalışma Saatlerimiz</strong>
                        </h4>
                        <ul class="list list-icons list-dark mt-4">
                            <li>
                                <i class="far fa-clock"></i> Pazartesi - Cuma - 9.00 to 18.30
                            </li>
                            <li>
                                <i class="far fa-clock"></i> Cumartesi - 9.00 to 14.00
                            </li>
                            <li>
                                <i class="far fa-clock"></i> Pazar - Kapalı
                            </li>
                        </ul>

                    </div>

                </div>

            </div>


        </div>



        <hr>







    </div>

</div>

