﻿
@{
    ViewData["Title"] = "MissionVision";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div role="main" class="main">

    @{await Html.RenderPartialAsync("_MenuSpacing"); }
    <section class="page-header">
        <div class="container">
            <div class="row ml-1">


                <a href="/Home/Index">Anasayfa</a>
                <span style="color:white;">
                    <p class="ml-1 mr-1">/</p>
                </span>
                <a style="color: gray;">MİSYON - VİZYON</a>


            </div>
            <div class="row">
                <div class="col">
                    <h1>MİSYON - VİZYON</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="word-rotator-title mb-4">
                    <img src="~/img/logos/izersoftlogo.png">
                </h2>

                <h4>
                    <p class="text-primary">
                        <strong>Misyonumuz</strong>
                    </p>
                </h4>
                <p class="lead">
                    Yenilikçi uygulamalar ile sektörü yönlendirmek, ülkemizin ve dünyanın ihtiyacı olan biyometri odaklı çözümleri, şirket değer,
                    hedef ve stratejileri doğrultusunda, kaynakları en etkin şekilde kullanarak , hedef pazarlarda sürekli gelişerek
                    ve büyüyerek sunmaktır.
                </p>
                <h4>
                    <p class="text-primary">
                        <strong>Vizyonumuz</strong>
                    </p>
                </h4>
                <p class="lead">
                    Amacımız, deneyimli insan kaynakları ile müşterilerini memnun edecek çözümleri ortaya çıkarmak, donanım ve yazılım çözümlerini
                    proje yaklaşımı ile müşterilerine sunarak, lider konumda bir çözüm şirketi olmak.
                </p>
                <hr class="tall">
            </div>
        </div>

    </div>


</div>

