﻿
@{
    ViewData["Title"] = "MobileApp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div role="main" class="main">

    @{await Html.RenderPartialAsync("_MenuSpacing"); }
    <section class="page-header">
        <div class="container">
            <div class="row ml-1">


                <a href="/Home/Index">Anasayfa</a>
                <span style="color:white;">
                    <p class="ml-1 mr-1">/</p>
                </span>
                <a style="color: gray;">MOBİL UYGULAMALAR</a>


            </div>
            <div class="row">
                <div class="col">
                    <h1>MOBİL UYGULAMALAR</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container">









        <div class="row">
            <div class="col">
                <h2 style="text-align: center">
                    <strong class="text-primary">MOBİL UYGULAMALAR</strong>
                </h2>
            </div>
        </div>







        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="word-rotator-title mb-4">
                    <img class="img-fluid max-width: 100%;" src="~/img/mobil-uygulama.png">
                </h2>
            </div>
        </div>












        <div class="row align-items-center">

            <div class="col" style="text-align: center">





                <p class="lead">
                    Günümüzde akıllı telefon, akıllı cihazlar dünyasında yaşıyoruz. Her gün piyasaya yeni bir akıllı cihaz çıkıyor. Gelişen teknolojiyle
                    birlikte firmalar yeni çözüm arayışına girmiş durumdalar. Kullanıcılar için kolay erişilebilir olması bakımından
                    mobil uygulamalar öne çıkıyor.
                </p>
                <p class="lead">
                    Firmanızın herhangi bir ürünü, teknolojisi ya da kendisi için kullanabileceğiniz mobil uygulamalar farklı platformlar üzerinden
                    erişilebilir olmalıdır. Mobil uygulamalar, ihtiyaçlarınıza uygun modüller içermeli ve kullanıcıların rahatça işlem
                    yapabileceği basitlikte olmalıdır. Kurumsal kimliğinizi yansıtırken bir yandan da gelişen teknolojiye ayak uydurarak
                    firmanızı mobil platformlarda temsil etmelidir.
                </p>
                <p class="lead">
                    İzersoft Yazılım ve Bilişim Hizmetleri olarak mobil uygulama ihtiyaçlarınıza çözüm üretiyoruz. Özel tasarım mobil uygulamalarımızla
                    hizmetinizdeyiz. Rakiplerinizden farklı olduğunuzu ortaya koymak ve gelişen teknolojiye adapte olmak için mobil
                    uygulamalar önemli rol oynarlar.
                </p>



            </div>

        </div>

        <hr>




        <div class="container">


            <div class="row">
                <div class="col text-center">

                    <h4 class="mb-2">
                        <strong>
                            <img src="~/img/logos/izersoftlogo.png">
                        </strong>
                    </h4>
                    <p>Sizin için en kaliteli yöntemi en uygun fiyata sunmak için çalışıyoruz.</p>
                </div>
            </div>

























            <div class="container">

                <div class="row">
                    <div class="col-lg-6">

                        <div class="alert alert-success d-none mt-4" id="contactSuccess">
                            <strong>Success!</strong> Your message has been sent to us.
                        </div>

                        <div class="alert alert-danger d-none mt-4" id="contactError">
                            <strong>Error!</strong> There was an error sending your message.
                            <span class="text-1 mt-2 d-block" id="mailErrorMessage"></span>
                        </div>

                        <h2 class="mb-3 mt-2"><strong>Hızlı Teklif Formu</strong></h2>

                        <form id="contactForm" action="php/contact-form.php" method="POST">
                            <div class="form-row">
                                <div class="form-group col-lg-6">
                                    <label>Adınız Soyadınız *</label>
                                    <input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="name" id="name" required>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>E-Posta Adresiniz *</label>
                                    <input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" name="email" id="email" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-lg-6">
                                    <label>Konu Başlığı</label>
                                    <input type="text" value="" data-msg-required="Please enter the subject." maxlength="100" class="form-control" name="subject" id="subject" required>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Telefon Numaranız * </label>
                                    <input type="text" value="" data-msg-required="Please enter the subject." maxlength="100" class="form-control" name="subject" id="subject" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <label>Mesajınız *</label>
                                    <textarea maxlength="5000" data-msg-required="Please enter your message." rows="10" class="form-control" name="message" id="message" required></textarea>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <input type="submit" value="Gönder" class="btn btn-primary btn-lg" data-loading-text="Loading...">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-6">

                        <h4 class="heading-primary mt-4"><strong>Bilgilendirme</strong></h4>
                        <p style="text-align: center">Bizimle direkt bağlantı kurmak veya hizmetlerimiz hakkında bilgi almak için sol yandaki bilgi formunu kullanın. Sizinle daha kolay ve çabuk bağlantı kurabilmemiz için bilgi formundaki tüm alanların doldurulmasını rica ederiz.</p>

                        <hr>

                        <h4 class="heading-primary"><strong>Ofis</strong></h4>
                        <ul class="list list-icons list-icons-style-3 mt-4">
                            <li><i class="fas fa-map-marker-alt"></i> <strong>Addres:</strong> 1266 Sokak No:10 K:6 D:601 Konak - İzmir</li>
                            <li><i class="fas fa-phone mr-1"></i><strong>Telefon:</strong> (530) 410 25 86</li>
                            <li><i class="fas fa-phone mr-1"></i><strong>Telefon:</strong> (232) 278 10 80</li>
                            <li><i class="far fa-envelope"></i> <strong>Email:</strong> <a href="mailto:info@izersoft.com.tr">info@izersoft.com.tr</a></li>
                        </ul>

                        <hr>

                        <h4 class="heading-primary"><strong>Çalışma Saatlerimiz</strong></h4>
                        <ul class="list list-icons list-dark mt-4">
                            <li><i class="far fa-clock"></i> Pazartesi - Cuma - 9.00 to 18.30 </li>
                            <li><i class="far fa-clock"></i> Cumartesi - 9.00 to 14.00</li>
                            <li><i class="far fa-clock"></i> Pazar - Kapalı</li>
                        </ul>

                    </div>

                </div>

            </div>




        </div>






        <hr>







    </div>

</div>

