﻿
@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div role="main" class="main shop">
    @{await Html.RenderPartialAsync("_MenuSpacing"); }
    <div class="container">

        <div class="row">
            <div class="col">
                <hr class="tall">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h1 class="mb-0"><strong>Shop</strong></h1>
                <p>Showing 1–12 of 25 results.</p>
            </div>
        </div>

        <div class="masonry-loader masonry-loader-loaded">
            <div class="row products product-thumb-info-list mt-3" data-plugin-masonry="" style="position: relative; height: 977.2px;">
                <div class="col-12 col-sm-6 col-lg-3 product" style="position: absolute; left: 0px; top: 0px;">
                    <a href="shop-product-sidebar.html">
                        <span class="onsale">Sale!</span>
                    </a>
                    <span class="product-thumb-info">
                        <a href="/Home/Basket" class="add-to-cart-product">
                            <span><i class="fas fa-shopping-cart"></i> Add to Cart</span>
                        </a>
                        <a href="/Home/ProductDetails">
                            <span class="product-thumb-info-image">
                                <span class="product-thumb-info-act">
                                    <span class="product-thumb-info-act-left"><em>View</em></span>
                                    <span class="product-thumb-info-act-right"><em><i class="fas fa-plus"></i> Details</em></span>
                                </span>
                                <img alt="" class="img-fluid" src="~/img/products/product-1.jpg">
                            </span>
                        </a>
                        <span class="product-thumb-info-content">
                            <a href="shop-product-sidebar.html">
                                <h4>Photo Camera</h4>
                                <span class="price">
                                    <del><span class="amount">$325</span></del>
                                    <ins><span class="amount">$299</span></ins>
                                </span>
                            </a>
                        </span>
                    </span>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 product" style="position: absolute; left: 240px; top: 0px;">
                    <span class="product-thumb-info">
                        <a href="/Home/Basket" class="add-to-cart-product">
                            <span><i class="fas fa-shopping-cart"></i> Add to Cart</span>
                        </a>
                        <a href="/Home/ProductDetails">
                            <span class="product-thumb-info-image">
                                <span class="product-thumb-info-act">
                                    <span class="product-thumb-info-act-left"><em>View</em></span>
                                    <span class="product-thumb-info-act-right"><em><i class="fas fa-plus"></i> Details</em></span>
                                </span>
                                <img alt="" class="img-fluid" src="~/img/products/product-2.jpg">
                            </span>
                        </a>
                        <span class="product-thumb-info-content">
                            <a href="shop-product-sidebar.html">
                                <h4>Golf Bag</h4>
                                <span class="price">
                                    <span class="amount">$72</span>
                                </span>
                            </a>
                        </span>
                    </span>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 product" style="position: absolute; left: 480px; top: 0px;">
                    <span class="product-thumb-info">
                        <a href="/Home/Basket" class="add-to-cart-product">
                            <span><i class="fas fa-shopping-cart"></i> Add to Cart</span>
                        </a>
                        <a href="/Home/ProductDetails">
                            <span class="product-thumb-info-image">
                                <span class="product-thumb-info-act">
                                    <span class="product-thumb-info-act-left"><em>View</em></span>
                                    <span class="product-thumb-info-act-right"><em><i class="fas fa-plus"></i> Details</em></span>
                                </span>
                                <img alt="" class="img-fluid" src="~/img/products/product-3.jpg">
                            </span>
                        </a>
                        <span class="product-thumb-info-content">
                            <a href="shop-product-sidebar.html">
                                <h4>Workout</h4>
                                <span class="price">
                                    <span class="amount">$60</span>
                                </span>
                            </a>
                        </span>
                    </span>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 product" style="position: absolute; left: 720px; top: 0px;">
                    <span class="product-thumb-info">
                        <a href="/Home/Basket" class="add-to-cart-product">
                            <span><i class="fas fa-shopping-cart"></i> Add to Cart</span>
                        </a>
                        <a href="/Home/ProductDetails">
                            <span class="product-thumb-info-image">
                                <span class="product-thumb-info-act">
                                    <span class="product-thumb-info-act-left"><em>View</em></span>
                                    <span class="product-thumb-info-act-right"><em><i class="fas fa-plus"></i> Details</em></span>
                                </span>
                                <img alt="" class="img-fluid" src="~/img/products/product-4.jpg">
                            </span>
                        </a>
                        <span class="product-thumb-info-content">
                            <a href="shop-product-sidebar.html">
                                <h4>Luxury bag</h4>
                                <span class="price">
                                    <span class="amount">$199</span>
                                </span>
                            </a>
                        </span>
                    </span>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 product" style="position: absolute; left: 0px; top: 318px;">
                    <span class="product-thumb-info">
                        <a href="/Home/Basket" class="add-to-cart-product">
                            <span><i class="fas fa-shopping-cart"></i> Add to Cart</span>
                        </a>
                        <a href="/Home/ProductDetails">
                            <span class="product-thumb-info-image">
                                <span class="product-thumb-info-act">
                                    <span class="product-thumb-info-act-left"><em>View</em></span>
                                    <span class="product-thumb-info-act-right"><em><i class="fas fa-plus"></i> Details</em></span>
                                </span>
                                <img alt="" class="img-fluid" src="~/img/products/product-5.jpg">
                            </span>
                        </a>
                        <span class="product-thumb-info-content">
                            <a href="shop-product-sidebar.html">
                                <h4>Ladies' handbag</h4>
                                <span class="price">
                                    <span class="amount">$189</span>
                                </span>
                            </a>
                        </span>
                    </span>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 product" style="position: absolute; left: 240px; top: 318px;">
                    <a href="shop-product-sidebar.html">
                        <span class="onsale">Sale!</span>
                    </a>
                    <span class="product-thumb-info">
                        <a href="/Home/Basket" class="add-to-cart-product">
                            <span><i class="fas fa-shopping-cart"></i> Add to Cart</span>
                        </a>
                        <a href="/Home/ProductDetails">
                            <span class="product-thumb-info-image">
                                <span class="product-thumb-info-act">
                                    <span class="product-thumb-info-act-left"><em>View</em></span>
                                    <span class="product-thumb-info-act-right"><em><i class="fas fa-plus"></i> Details</em></span>
                                </span>
                                <img alt="" class="img-fluid" src="~/img/products/product-6.jpg">
                            </span>
                        </a>
                        <span class="product-thumb-info-content">
                            <a href="shop-product-sidebar.html">
                                <h4>Baseball Cap</h4>
                                <span class="price">
                                    <del><span class="amount">$25</span></del>
                                    <ins><span class="amount">$22</span></ins>
                                </span>
                            </a>
                        </span>
                    </span>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 product" style="position: absolute; left: 480px; top: 318px;">
                    <span class="product-thumb-info">
                        <a href="/Home/Basket" class="add-to-cart-product">
                            <span><i class="fas fa-shopping-cart"></i> Add to Cart</span>
                        </a>
                        <a href="/Home/ProductDetails">
                            <span class="product-thumb-info-image">
                                <span class="product-thumb-info-act">
                                    <span class="product-thumb-info-act-left"><em>View</em></span>
                                    <span class="product-thumb-info-act-right"><em><i class="fas fa-plus"></i> Details</em></span>
                                </span>
                                <img alt="" class="img-fluid" src="~/img/products/product-7.jpg">
                            </span>
                        </a>
                        <span class="product-thumb-info-content">
                            <a href="shop-product-sidebar.html">
                                <h4>Blue Ladies Handbag</h4>
                                <span class="price">
                                    <span class="amount">$290</span>
                                </span>
                            </a>
                        </span>
                    </span>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 product" style="position: absolute; left: 720px; top: 318px;">
                    <span class="product-thumb-info">
                        <a href="/Home/Basket" class="add-to-cart-product">
                            <span><i class="fas fa-shopping-cart"></i> Add to Cart</span>
                        </a>
                        <a href="/Home/ProductDetails">
                            <span class="product-thumb-info-image">
                                <span class="product-thumb-info-act">
                                    <span class="product-thumb-info-act-left"><em>View</em></span>
                                    <span class="product-thumb-info-act-right"><em><i class="fas fa-plus"></i> Details</em></span>
                                </span>
                                <img alt="" class="img-fluid" src="~/img/products/product-8.jpg">
                            </span>
                        </a>
                        <span class="product-thumb-info-content">
                            <a href="shop-product-sidebar.html">
                                <h4>Military Rucksack</h4>
                                <span class="price">
                                    <span class="amount">$49</span>
                                </span>
                            </a>
                        </span>
                    </span>
                </div>

            </div>
            <div class="bounce-loader"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
        </div>

        <div class="row">
            <div class="col">
                <ul class="pagination float-right">
                    <li class="page-item"><a class="page-link" href="#">«</a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">»</a></li>
                </ul>
            </div>
        </div>

    </div>

</div>

