﻿
@{
    ViewData["Title"] = "ProductDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div role="main" class="main shop">
    @{await Html.RenderPartialAsync("_MenuSpacing"); }
    <div class="container">

        <div class="row">
            <div class="col">
                <hr class="tall">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">

                <div class="owl-carousel owl-theme owl-loaded owl-drag owl-carousel-init" data-plugin-options="{'items': 1}">



                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(-900px, 0px, 0px); transition: 0s; width: 3150px;">
                            <div class="owl-item cloned" style="width: 450px;">
                                <div>
                                    <div class="thumbnail">
                                        <img alt="" class="img-fluid border rounded" src="~/img/products/product-7-2.jpg">
                                    </div>
                                </div>
                            </div><div class="owl-item cloned" style="width: 450px;">
                                <div>
                                    <div class="thumbnail">
                                        <img alt="" class="img-fluid border rounded" src="~/img/products/product-7-3.jpg">
                                    </div>
                                </div>
                            </div><div class="owl-item active" style="width: 450px;">
                                <div>
                                    <div class="thumbnail">
                                        <img alt="" class="img-fluid border rounded" src="~/img/products/product-7.jpg">
                                    </div>
                                </div>
                            </div><div class="owl-item" style="width: 450px;">
                                <div>
                                    <div class="thumbnail">
                                        <img alt="" class="img-fluid border rounded" src="~/img/products/product-7-2.jpg">
                                    </div>
                                </div>
                            </div><div class="owl-item" style="width: 450px;">
                                <div>
                                    <div class="thumbnail">
                                        <img alt="" class="img-fluid border rounded" src="~/img/products/product-7-3.jpg">
                                    </div>
                                </div>
                            </div><div class="owl-item cloned" style="width: 450px;">
                                <div>
                                    <div class="thumbnail">
                                        <img alt="" class="img-fluid border rounded" src="~/img/products/product-7.jpg">
                                    </div>
                                </div>
                            </div><div class="owl-item cloned" style="width: 450px;">
                                <div>
                                    <div class="thumbnail">
                                        <img alt="" class="img-fluid border rounded" src="~/img/products/product-7-2.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"></button><button type="button" role="presentation" class="owl-next"></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button></div>
                </div>

            </div>

            <div class="col-lg-6">

                <div class="summary entry-summary">

                    <h1 class="mb-0"><strong>Blue Ladies Handbag</strong></h1>

                    <div class="review_num">
                        <span class="count" itemprop="ratingCount">2</span> reviews
                    </div>

                    <div title="Rated 5.00 out of 5" class="star-rating">
                        <span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
                    </div>

                    <p class="price">
                        <span class="amount">$22</span>
                    </p>

                    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elimttis adipiscing. Fusce in hendrerit purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elimttis adipiscing. Fusce in hendrerit purus. </p>

                    <form enctype="multipart/form-data" method="post" class="cart">
                        <div class="quantity">
                            <input type="button" class="minus" value="-">
                            <input type="text" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">
                            <input type="button" class="plus" value="+">
                        </div>
                        <button href="#" class="btn btn-primary pt-2 pb-2 pr-3 pl-3">Add to cart</button>
                    </form>

                    <div class="product_meta">
                        <span class="posted_in">Categories: <a rel="tag" href="#">Accessories</a>, <a rel="tag" href="#">Bags</a>.</span>
                    </div>

                </div>


            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="tabs tabs-product">
                    <ul class="nav nav-tabs">
                        <li class="nav-item active"><a class="nav-link" href="#productDescription" data-toggle="tab">Description</a></li>
                        <li class="nav-item"><a class="nav-link" href="#productInfo" data-toggle="tab">Aditional Information</a></li>
                        <li class="nav-item"><a class="nav-link" href="#productReviews" data-toggle="tab">Reviews (2)</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="productDescription">
                            <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sagittis, massa fringilla consequat blandit, mauris ligula porta nisi, non tristique enim sapien vel nisl. Suspendisse vestibulum lobortis dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent nec tempus nibh. Donec mollis commodo metus et fringilla. Etiam venenatis, diam id adipiscing convallis, nisi eros lobortis tellus, feugiat adipiscing ante ante sit amet dolor. Vestibulum vehicula scelerisque facilisis. Sed faucibus placerat bibendum. Maecenas sollicitudin commodo justo, quis hendrerit leo consequat ac. Proin sit amet risus sapien, eget interdum dui. Proin justo sapien, varius sit amet hendrerit id, egestas quis mauris.</p>
                        </div>
                        <div class="tab-pane" id="productInfo">
                            <table class="table table-striped mt-5">
                                <tbody>
                                    <tr>
                                        <th>
                                            Size:
                                        </th>
                                        <td>
                                            Unique
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Colors
                                        </th>
                                        <td>
                                            Red, Blue
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Material
                                        </th>
                                        <td>
                                            100% Leather
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="productReviews">
                            <ul class="comments">
                                <li>
                                    <div class="comment">
                                        <div class="img-thumbnail d-block">
                                            <img class="avatar" alt="" src="~/img/avatars/avatar-2.jpg">
                                        </div>
                                        <div class="comment-block">
                                            <div class="comment-arrow"></div>
                                            <span class="comment-by">
                                                <strong>John Doe</strong>
                                                <span class="float-right">
                                                    <div title="Rated 5.00 out of 5" class="star-rating">
                                                        <span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
                                                    </div>
                                                </span>
                                            </span>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim ornare nisi, vitae mattis nulla ante id dui.</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <hr class="tall">
                            <h4 class="heading-primary">Add a review</h4>
                            <div class="row">
                                <div class="col">

                                    <form action="" id="submitReview" method="post">
                                        <div class="form-row">
                                            <div class="form-group col-lg-6">
                                                <label>Your name *</label>
                                                <input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="name" id="name">
                                            </div>
                                            <div class="form-group col-lg-6">
                                                <label>Your email address *</label>
                                                <input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" name="email" id="email">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col">
                                                <label>Review *</label>
                                                <textarea maxlength="5000" data-msg-required="Please enter your message." rows="10" class="form-control" name="message" id="message"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col">
                                                <input type="submit" value="Submit Review" class="btn btn-primary" data-loading-text="Loading...">
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>

