﻿
@{
    ViewData["Title"] = "SocialMediaManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div role="main" class="main">

    @{await Html.RenderPartialAsync("_MenuSpacing"); }
    <section class="page-header">
        <div class="container">
            <div class="row ml-1">


                <a href="/Home/Index">Anasayfa</a>
                <span style="color:white;">
                    <p class="ml-1 mr-1">/</p>
                </span>
                <a style="color: gray;">SOSYAL MEDİA YÖNETİCİLİĞİ HİZMETİ</a>


            </div>
            <div class="row">
                <div class="col">
                    <h1>SOSYAL MEDİA YÖNETİCİLİĞİ HİZMETİ</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container">







        <div class="row">
            <div class="col">
                <h2 style="text-align: center">
                    <strong class="text-primary">SOSYAL MEDİA YÖNETİCİLİĞİ HİZMETİ</strong>
                </h2>
            </div>
        </div>







        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="word-rotator-title mb-4">
                    <img class="img-fluid max-width: 100%;" src="~/img/socialmedia.png">
                </h2>
            </div>
        </div>






        <div class="row align-items-center">

            <div class="col" style="text-align: center">

                <h4 style="text-align: center">
                    <strong class="text-primary">SOSYAL MEDYA YÖNETİMİ</strong>
                </h4>


                <p class="lead">
                    7’den 70’e herkesin günün büyük bir kısmını geçirdiği ve yoğun ilgi gösterdiği sosyal medyanın gücü inkâr edilemez boyutlara
                    ulaştı. Akıllı telefonlar sayesinde ulaşımı daha da kolaylaşan ve günün her anı elimizin altında olan sosyal medya
                    siteleri, günümüzde sadece eski arkadaşları bulmak için kullanılmıyor. Geniş bir kitleye hitap etmesi, kişilere
                    daha kolay ulaşım sağlaması, hedef kitlenin ilgisini çekmede büyük başarı göstermesi gibi etkilerinden dolayı sosyal
                    medya, birçok firma tarafından ticari amaçlar doğrultusunda da kullanılıyor.
                </p>
                <p class="lead">
                    Profesyonel bir tanıtım, milyonlarca sayfa arasından ön plana çıkabilmek, hedef kitlenize daha hızlı ve kolay bir şekilde
                    ulaşabilmek için sosyal medyada da işin uzmanları ile çalışmak önemli. Firmanızın tanıtımını en iyi şekilde gerçekleştirecek,
                    sosyal medyada hedef kitlenize sizi en doğru şekilde temsil edecek bir hesaba sahip olmak için işin profesyonellerinden
                    yardım alabilirsiniz.
                </p>
                <p class="lead">
                    Sunulan sosyal medya hizmetlerinden yararlanarak markanızın tanınırlığını kolay ve kısa bir sürede arttırabileceğiniz gibi
                    aynı zamanda doğru içerik paylaşımı ile firmanızın hedef kitle halkasını her geçen saniye biraz daha genişletebilirsiniz.
                    Titiz ve disiplinli bir çalışma, doğru sosyal medya stratejileri geliştirme sonucunda 7 gün 24 saat boyunca, her
                    an hedef kitlenizin markanızdan haberdar olmasını sağlamak firmanızın tanınırlığını artırmaya yardımcı olduğu gibi
                    aynı zamanda kazancınızı da doğru oranda artıracaktır.
                </p>
                <h3 style="text-align: center">
                    <strong class="text-primary">SOSYAL MEDYA YÖNETİMİ NASIL YAPILIR ? </strong>
                </h3>
                <h4>
                    <strong class="text-primary">1.Hedef Kitle </strong>
                </h4>
                <p class="lead">
                    Hedef kitle belirlemek sosyal medya yönetiminizin ilk adımı olmalıdır. Hedef kitlenizin cinsi, yaş aralıkları, ilgi
                    alanları, neler yapmak istediklerini ve hatta yapmak istemediklerini çok iyi bilerek, onlara istedikleri bilgiyi
                    değişik şekillerde sunabilirsiniz.
                </p>
                <h4>
                    <strong class="text-primary">2.İçerik Yönetimi </strong>
                </h4>
                <p class="lead">
                    Etkin bir sosyal medya yönetimi istiyorsanız, markanızın yaratmak istediği algıyı, doğru içerik yönetimi stratejisi ile verebilirsiniz,
                    güçlendirebilirsiniz ve hatta değiştirebilirsiniz. Bunu yaparken dikkat etmeniz gereken önemli unsurlardan biri
                    kullandığınızın dilin markanızın imajı ile bütünleşmesidir. Unutmayın! Ürettiğiniz içeriğin hedef kitlenize sağladığı
                    fayda doğrultusunda iletişiminizin başarılı olup/olmadığını tartabilirsiniz.
                </p>
                <h4>
                    <strong class="text-primary">3.Müşteri İlişkileri </strong>
                </h4>
                <p class="lead">
                    Müşteri ilişkileri sosyal medya yönetiminizde dikkat etmeniz gereken en önemli unsurlardan biridir. Diyalog yönetiminin çok
                    büyük önem taşıdığı bu konuda amaç; markanız ve hedef kitleniz arasında sadakat yaratıp, bu sadakati sürekli kılabilmektir.
                    Markanız ile ilgili hedef kitlenizin şikayetleri olabilir veya aynı şekilde memnuniyetlerini dile getirmek isteyebilirler.
                    Bu doğrultuda, kitlenizi tatmin edecek ve kendileri önemli hissetirecek bir iletişim strateji belirlemeniz gerekmektedir.
                </p>

                <h4>
                    <strong class="text-primary">4.Rakip Analizi </strong>
                </h4>
                <p class="lead">
                    Sosyal medya yönetiminde rakip analizi, markanızın sosyal medya stratejisinin belirlenmesi ve geliştirilmesi açısından oldukça
                    önemlidir. Bu analizi doğru yapabilmek için de tüm marka ve şirketlere hem müşteri gözü ile hem de kendi bakış
                    açıları ile bakmak gerekir. Rakip analizinizi yaparken doğru yöntemleri (SWOT, PEST vb.) belirlediğiniz doğru markalar
                    için kullanmanız gerekmektedir.
                </p>
                <h4>
                    <strong class="text-primary">5.Reklam Yönetimi </strong>
                </h4>
                <p class="lead">
                    Artık sosyal mecralar üzerinden yapılan tüm pazarlama faliyetlerinde reklamlı çıkılan içeriklerin gücü yadsınamaz. Bunu tercih
                    değil zorunluluk haline getiren sosyal mecralar, reklam yönetimini dijital medyanın kalbine yerleştirmiştir diyebiliriz.
                    Sosyal medya yönetiminde, doğru reklam stratejisi ve doğru hedef kitle belirlemek, markanın bu alandaki yatırımlarını
                    hem boşa çıkarmamış olmak demek hem de markanın dijital dünyadaki bilinirliğinin hızlı bir şekilde yükselmesi demektir.
                </p>
                <h4>
                    <strong class="text-primary">6.İstatistik </strong>
                </h4>
                <p class="lead">
                    Yapılan paylaşımlarınızın ve yaptığınız kampanyaların başarısını ölçmek, pazarlamanın en temel işleyişlerinden biridir. İçeriklere
                    ayrılan reklam bütçenizin veya çıktığınız bir içeriğin aynı mecradaki performansını ölçümlemek, izlemeniz gereken
                    sosyal medya stratejisinin en belirleyici etkilerinden biridir.
                </p>
            </div>

        </div>

        <div class="row">
            <div class="col">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-google-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"
                           aria-selected="true">Google Reklam</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-facebook-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
                           aria-selected="false">Facebook Reklam</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-instagram-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact"
                           aria-selected="false">Instagram Reklam</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-youtube-tab" data-toggle="pill" href="#pills-youtube" role="tab" aria-controls="pills-contact"
                           aria-selected="false">Youtube Reklam</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-google-tab">















                        <div class="pricing-table row no-gutters mt-2 mb-2">
                            <div class="col-lg-3 col-sm-6">
                                <div class="plan">
                                    <h3>
                                        EKONOMİK
                                        <span>250TL</span>
                                    </h3>
                                    <a class="btn btn-lg btn-primary" href="#">Satın Al</a>
                                    <ul>
                                        <li>
                                            <strong>Anahtar Kelime Planlama</strong>
                                        <li>
                                            <strong>Hedef Kitle Danışmanlığı</strong>
                                        </li>

                                        <li>
                                            <strong>Sitenize Uygun Diğer Öneriler</strong>
                                        </li>
                                        <li>
                                            <strong>Ücretsiz Uzman Desteği</strong>
                                        </li>
                                        <li>
                                            <strong>Telefon Destek Yok</strong>
                                        </li>
                                        <li>
                                            <strong></strong>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 text-center">
                                <div class="plan most-popular">
                                    <div class="plan-ribbon-wrapper">
                                        <div class="plan-ribbon">Popüler</div>
                                    </div>
                                    <h3>
                                        STANDART
                                        <span>500TL</span>
                                    </h3>
                                    <a class="btn btn-lg btn-primary" href="#">Satın Al</a>
                                    <ul>
                                        <li>
                                            <strong>Anahtar Kelime Planlama</strong>
                                        <li>
                                            <strong>Hedef Kitle Danışmanlığı</strong>
                                        </li>

                                        <li>
                                            <strong>Sitenize Uygun Diğer Öneriler</strong>
                                        </li>
                                        <li>
                                            <strong>Ücretsiz Uzman Desteği </strong>
                                        </li>
                                        <li>
                                            <strong>Telefon Destek Var</strong>
                                        </li>
                                        <li>
                                            <strong></strong>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="plan">
                                    <h3>
                                        İdeal Paket
                                        <span>750TL</span>
                                    </h3>
                                    <a class="btn btn-lg btn-primary" href="#">Satın Al</a>
                                    <ul>
                                        <li>
                                            <strong>Anahtar Kelime Planlama</strong>
                                        <li>
                                            <strong>Hedef Kitle Danışmanlığı</strong>
                                        </li>

                                        <li>
                                            <strong>Sitenize Uygun Diğer Öneriler</strong>
                                        </li>
                                        <li>
                                            <strong>Ücretsiz Uzman Desteği Ve SEO Analizi </strong>
                                        </li>
                                        <li>
                                            <strong>Telefon Destek Var</strong>
                                        </li>
                                        <li>
                                            <strong></strong>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="plan">
                                    <h3>
                                        Özel Paket
                                        <span>...</span>
                                    </h3>
                                    <a class="btn btn-lg btn-primary" href="#">Teklif İste</a>
                                    <ul>
                                        <li>
                                            <strong>Sizin isteğinize özel belirltilmiş özel tasarım çalışmaları ve yazılım geliştirmeleri yapılır.</strong>
                                        </li>
                                        <li>
                                            <strong></strong>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>



























                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-facebook-tab">

                        <div class="pricing-table row no-gutters mt-2 mb-2">
                            <div class="col-lg-3 col-sm-6">
                                <div class="plan">
                                    <h3>
                                        EKONOMİK
                                        <span>350TL</span>
                                    </h3>
                                    <a class="btn btn-lg btn-primary" href="#">Satın Al</a>
                                    <ul>
                                        <li>
                                            <strong>Demografi Planlama</strong>
                                        <li>
                                            <strong>Ücretsiz Uzman Desteği</strong>
                                        </li>

                                        <li>
                                            <strong>Remarketing Hedefleme Yok</strong>
                                        </li>
                                        <li>
                                            <strong>Hediye Banner Tasarım Yok</strong>
                                        </li>
                                        <li>
                                            <strong>Telefon Destek Yok</strong>
                                        </li>
                                        <li>
                                            <strong></strong>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 text-center">
                                <div class="plan most-popular">
                                    <div class="plan-ribbon-wrapper">
                                        <div class="plan-ribbon">Popüler</div>
                                    </div>
                                    <h3>
                                        STANDART
                                        <span>490TL</span>
                                    </h3>
                                    <a class="btn btn-lg btn-primary" href="#">Satın Al</a>
                                    <ul>
                                        <li>
                                            <strong>Demografi Planlama</strong>
                                        <li>
                                            <strong>Ücretsiz Uzman Desteği</strong>
                                        </li>

                                        <li>
                                            <strong>Remarketing Hedefleme Yok</strong>
                                        </li>
                                        <li>
                                            <strong>Hediye Banner Tasarım Var</strong>
                                        </li>
                                        <li>
                                            <strong>Telefon Destek Var</strong>
                                        </li>
                                        <li>
                                            <strong></strong>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="plan">
                                    <h3>
                                        İdeal Paket
                                        <span>990TL</span>
                                    </h3>
                                    <a class="btn btn-lg btn-primary" href="#">Satın Al</a>
                                    <ul>
                                        <li>
                                            <strong>Demografi Planlama</strong>
                                        <li>
                                            <strong>Ücretsiz Uzman Desteği</strong>
                                        </li>

                                        <li>
                                            <strong>Remarketing Hedefleme Var</strong>
                                        </li>
                                        <li>
                                            <strong>Hediye Banner Tasarım Var</strong>
                                        </li>
                                        <li>
                                            <strong>Telefon Destek Var</strong>
                                        </li>
                                        <li>
                                            <strong></strong>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="plan">
                                    <h3>
                                        Özel Paket
                                        <span>...</span>
                                    </h3>
                                    <a class="btn btn-lg btn-primary" href="#">Teklif İste</a>
                                    <ul>
                                        <li>
                                            <strong>Sizin isteğinize özel belirltilmiş özel tasarım çalışmaları ve yazılım geliştirmeleri yapılır.</strong>
                                        </li>
                                        <li>
                                            <strong></strong>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-instagram-tab">
                        <div class="pricing-table row no-gutters mt-2 mb-2">
                            <div class="col-lg-3 col-sm-6">
                                <div class="plan">
                                    <h3>
                                        EKONOMİK
                                        <span>350TL</span>
                                    </h3>
                                    <a class="btn btn-lg btn-primary" href="#">Satın Al</a>
                                    <ul>
                                        <li>
                                            <strong>Demografi Planlama</strong>
                                        <li>
                                            <strong>Ücretsiz Uzman Desteği</strong>
                                        </li>

                                        <li>
                                            <strong>Remarketing Hedefleme Yok</strong>
                                        </li>
                                        <li>
                                            <strong>Hediye Banner Tasarım Yok</strong>
                                        </li>
                                        <li>
                                            <strong>Telefon Destek Yok</strong>
                                        </li>
                                        <li>
                                            <strong></strong>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 text-center">
                                <div class="plan most-popular">
                                    <div class="plan-ribbon-wrapper">
                                        <div class="plan-ribbon">Popüler</div>
                                    </div>
                                    <h3>
                                        STANDART
                                        <span>490TL</span>
                                    </h3>
                                    <a class="btn btn-lg btn-primary" href="#">Satın Al</a>
                                    <ul>
                                        <li>
                                            <strong>Demografi Planlama</strong>
                                        <li>
                                            <strong>Ücretsiz Uzman Desteği</strong>
                                        </li>

                                        <li>
                                            <strong>Remarketing Hedefleme Yok</strong>
                                        </li>
                                        <li>
                                            <strong>Hediye Banner Tasarım Var</strong>
                                        </li>
                                        <li>
                                            <strong>Telefon Destek Var</strong>
                                        </li>
                                        <li>
                                            <strong></strong>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="plan">
                                    <h3>
                                        İdeal Paket
                                        <span>990TL</span>
                                    </h3>
                                    <a class="btn btn-lg btn-primary" href="#">Satın Al</a>
                                    <ul>
                                        <li>
                                            <strong>Demografi Planlama</strong>
                                        <li>
                                            <strong>Ücretsiz Uzman Desteği</strong>
                                        </li>

                                        <li>
                                            <strong>Remarketing Hedefleme Var</strong>
                                        </li>
                                        <li>
                                            <strong>Hediye Banner Tasarım Var</strong>
                                        </li>
                                        <li>
                                            <strong>Telefon Destek Var</strong>
                                        </li>
                                        <li>
                                            <strong></strong>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="plan">
                                    <h3>
                                        Özel Paket
                                        <span>...</span>
                                    </h3>
                                    <a class="btn btn-lg btn-primary" href="#">Teklif İste</a>
                                    <ul>
                                        <li>
                                            <strong>Sizin isteğinize özel belirltilmiş özel tasarım çalışmaları ve yazılım geliştirmeleri yapılır.</strong>
                                        </li>
                                        <li>
                                            <strong></strong>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-youtube" role="tabpanel" aria-labelledby="pills-youtube-tab">
                        <div class="pricing-table row no-gutters mt-2 mb-2">
                            <div class="col-lg-3 col-sm-6">
                                <div class="plan">
                                    <h3>
                                        EKONOMİK
                                        <span>140TL</span>
                                    </h3>
                                    <a class="btn btn-lg btn-primary" href="#">Satın Al</a>
                                    <ul>
                                        <li>
                                            <strong>Hedef Kitle Danışmanlığı</strong>
                                        <li>
                                            <strong>Sitenize Uygun Diğer Öneriler</strong>
                                        </li>

                                        <li>
                                            <strong>Ücretsiz Uzman Desteği</strong>
                                        </li>
                                        <li>
                                            <strong>Telefon Destek Yok</strong>
                                        </li>
                                        <li>
                                            <strong></strong>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 text-center">
                                <div class="plan most-popular">
                                    <div class="plan-ribbon-wrapper">
                                        <div class="plan-ribbon">Popüler</div>
                                    </div>
                                    <h3>
                                        STANDART
                                        <span>490TL</span>
                                    </h3>
                                    <a class="btn btn-lg btn-primary" href="#">Satın Al</a>
                                    <ul>
                                        <li>
                                            <strong>Hedef Kitle Danışmanlığı</strong>
                                        <li>
                                            <strong>Sitenize Uygun Diğer Öneriler</strong>
                                        </li>

                                        <li>
                                            <strong>Ücretsiz Uzman Desteği</strong>
                                        </li>
                                        <li>
                                            <strong>Telefon Destek Var</strong>
                                        </li>
                                        <li>
                                            <strong></strong>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="plan">
                                    <h3>
                                        İdeal Paket
                                        <span>990TL</span>
                                    </h3>
                                    <a class="btn btn-lg btn-primary" href="#">Satın Al</a>
                                    <ul>
                                        <li>
                                            <strong>Hedef Kitle Danışmanlığı</strong>
                                        <li>
                                            <strong>Sitenize Uygun Diğer Öneriler</strong>
                                        </li>

                                        <li>
                                            <strong>Ücretsiz Uzman Desteği</strong>
                                        </li>
                                        <li>
                                            <strong>Telefon Destek Var</strong>
                                        </li>
                                        <li>
                                            <strong></strong>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="plan">
                                    <h3>
                                        Özel Paket
                                        <span>...</span>
                                    </h3>
                                    <a class="btn btn-lg btn-primary" href="#">Teklif İste</a>
                                    <ul>
                                        <li>
                                            <strong>Sizin isteğinize özel belirltilmiş özel tasarım çalışmaları ve yazılım geliştirmeleri yapılır.</strong>
                                        </li>
                                        <li>
                                            <strong></strong>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>





















        <hr>




        <div class="container">



            <div class="row">
                <div class="col text-center">

                    <h4 class="mb-2">
                        <strong>
                            <img src="~/img/logos/izersoftlogo.png">
                        </strong>
                    </h4>
                    <p>Sizin için en kaliteli yöntemi en uygun fiyata sunmak için çalışıyoruz.</p>
                </div>
            </div>






















            <div class="container">

                <div class="row">
                    <div class="col-lg-6">

                        <div class="alert alert-success d-none mt-4" id="contactSuccess">
                            <strong>Success!</strong> Your message has been sent to us.
                        </div>

                        <div class="alert alert-danger d-none mt-4" id="contactError">
                            <strong>Error!</strong> There was an error sending your message.
                            <span class="text-1 mt-2 d-block" id="mailErrorMessage"></span>
                        </div>

                        <h2 class="mb-3 mt-2">
                            <strong>Hızlı Teklif Formu</strong>
                        </h2>

                        <form id="contactForm" action="php/contact-form.php" method="POST">
                            <div class="form-row">
                                <div class="form-group col-lg-6">
                                    <label>Adınız Soyadınız *</label>
                                    <input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="name"
                                           id="name" required>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>E-Posta Adresiniz *</label>
                                    <input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address."
                                           maxlength="100" class="form-control" name="email" id="email" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-lg-6">
                                    <label>Konu Başlığı</label>
                                    <input type="text" value="" data-msg-required="Please enter the subject." maxlength="100" class="form-control" name="subject"
                                           id="subject" required>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Telefon Numaranız * </label>
                                    <input type="text" value="" data-msg-required="Please enter the subject." maxlength="100" class="form-control" name="subject"
                                           id="subject" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <label>Mesajınız *</label>
                                    <textarea maxlength="5000" data-msg-required="Please enter your message." rows="10" class="form-control" name="message" id="message"
                                              required></textarea>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <input type="submit" value="Gönder" class="btn btn-primary btn-lg" data-loading-text="Loading...">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-6">

                        <h4 class="heading-primary mt-4">
                            <strong>Bilgilendirme</strong>
                        </h4>
                        <p style="text-align: center">
                            Bizimle direkt bağlantı kurmak veya hizmetlerimiz hakkında bilgi almak için sol yandaki bilgi formunu kullanın.
                            Sizinle daha kolay ve çabuk bağlantı kurabilmemiz için bilgi formundaki tüm alanların doldurulmasını rica ederiz.
                        </p>

                        <hr>

                        <h4 class="heading-primary">
                            <strong>Ofis</strong>
                        </h4>
                        <ul class="list list-icons list-icons-style-3 mt-4">
                            <li>
                                <i class="fas fa-map-marker-alt"></i>
                                <strong>Addres:</strong> 1266 Sokak No:10 K:6 D:601 Konak - İzmir
                            </li>
                            <li>
                                <i class="fas fa-phone mr-1"></i>
                                <strong>Telefon:</strong> (530) 410 25 86
                            </li>
                            <li>
                                <i class="fas fa-phone mr-1"></i>
                                <strong>Telefon:</strong> (232) 278 10 80
                            </li>
                            <li>
                                <i class="far fa-envelope"></i>
                                <strong>Email:</strong>
                                <a href="mailto:info@izersoft.com.tr">info@izersoft.com.tr</a>
                            </li>
                        </ul>

                        <hr>

                        <h4 class="heading-primary">
                            <strong>Çalışma Saatlerimiz</strong>
                        </h4>
                        <ul class="list list-icons list-dark mt-4">
                            <li>
                                <i class="far fa-clock"></i> Pazartesi - Cuma - 9.00 to 18.30
                            </li>
                            <li>
                                <i class="far fa-clock"></i> Cumartesi - 9.00 to 14.00
                            </li>
                            <li>
                                <i class="far fa-clock"></i> Pazar - Kapalı
                            </li>
                        </ul>

                    </div>

                </div>

            </div>

        </div>

        <hr>







    </div>

</div>

