﻿
@{
    ViewData["Title"] = "WorkedWith";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div role="main" class="main">

    @{await Html.RenderPartialAsync("_MenuSpacing"); }
    <section class="page-header">
        <div class="container">
            <div class="row ml-1">


                <a href="/Home/Index">Anasayfa</a>
                <span style="color:white;">
                    <p class="ml-1 mr-1">/</p>
                </span>
                <a style="color: gray;">KİMLERLE ÇALIŞTIK</a>


            </div>
            <div class="row">
                <div class="col">
                    <h1>KİMLERLE ÇALIŞTIK</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container">



        <div class="row">
            <div class="col" style="text-align: center">
                <h2 class="text-primary">
                    <strong>Müşterilerimiz</strong>
                </h2>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-3 isotope-item leadership">
                <span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
                    <span class="thumb-info-wrapper">
                        <a href="about-me.html">
                            <img src="~/img/team/team-1.jpg" class="img-fluid" alt="">
                            
                        </a>
                    </span>
                </span>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 isotope-item leadership">
                <span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
                    <span class="thumb-info-wrapper">
                        <a href="about-me.html">
                            <img src="~/img/team/team-1.jpg" class="img-fluid" alt="">
                           
                        </a>
                    </span>
                </span>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 isotope-item leadership">
                <span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
                    <span class="thumb-info-wrapper">
                        <a href="about-me.html">
                            <img src="~/img/team/team-1.jpg" class="img-fluid" alt="">
                            
                        </a>
                    </span>
                </span>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 isotope-item leadership">
                <span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
                    <span class="thumb-info-wrapper">
                        <a href="about-me.html">
                            <img src="~/img/team/team-1.jpg" class="img-fluid" alt="">
                            
                        </a>
                    </span>
                </span>
            </div>
        </div>
        <hr>


    </div>

</div>

