﻿<div class="page-header bg-secondary text-auto p-6 row no-gutters align-items-center justify-content-between">
    <h2 class="doc-title" id="content">Snackbar</h2>

    <a href="https://sciactive.github.io/pnotify/" target="_blank" class="btn btn-light fuse-ripple-ready">
        <i class="icon-link"></i>
        <span>Reference</span>
    </a>
</div>