﻿<aside id="aside" class="aside aside-left" data-fuse-bar="aside" data-fuse-bar-media-step="md" data-fuse-bar-position="left">
    <div class="aside-content-wrapper">

        <div class="aside-content bg-primary-700 text-auto">

            <div class="aside-toolbar">

                <div class="logo">
                    <span class="logo-icon">F</span>
                    <span class="logo-text">FUSE</span>
                </div>

                <button id="toggle-fold-aside-button" type="button" class="btn btn-icon d-none d-lg-block fuse-ripple-ready" data-fuse-aside-toggle-fold="">
                    <i class="icon icon-backburger"></i>
                </button>

            </div>

            <ul class="nav flex-column custom-scrollbar ps ps--theme_default ps--active-y" id="sidenav" data-children=".nav-item" data-ps-id="5f0dc9f6-6753-69ce-0f46-9e08cea07340">
                <li class="subheader">
                    <span>APPS</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link ripple fuse-ripple-ready" href="/Admin/Category" data-url="components-snackbar.html">

                        <i class="icon s-4 icon-atom"></i>

                        <span>Categories</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ripple fuse-ripple-ready" href="/Admin/Product" data-url="components-snackbar.html">

                        <i class="icon s-4 icon-basket"></i>

                        <span>Products</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ripple fuse-ripple-ready" href="/Admin/User" data-url="components-snackbar.html">

                        <i class="icon s-4 icon-account-circle"></i>

                        <span>Users</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link ripple fuse-ripple-ready" href="/Admin/Mail" data-url="components-snackbar.html">

                        <i class="icon s-4 icon-email"></i>

                        <span>Mail</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link ripple fuse-ripple-ready" href="/Admin/Pluggins" data-url="components-snackbar.html">

                        <i class="icon s-4 icon-puzzle"></i>

                        <span>Pluggins</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ripple fuse-ripple-ready" href="/Admin/User" data-url="components-snackbar.html">

                        <i class="icon s-4 icon-folder"></i>

                        <span>File Manager</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ripple fuse-ripple-ready" href="/Admin/Sale" data-url="components-snackbar.html">

                        <i class="icon s-4 icon-cart"></i>

                        <span>Sales</span>
                    </a>
                </li>

                <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div>
            </ul>
        </div>
    </div>
</aside>