﻿<aside class="page-sidebar custom-scrollbar ps ps--theme_default" data-fuse-bar="file-manager-info-sidebar" data-fuse-bar-position="right" data-fuse-bar-media-step="lg" data-ps-id="336af1b1-07af-5a74-0f6e-1c09aa9539c8">
    <!-- SIDEBAR HEADER -->
    <div class="header bg-secondary text-auto d-flex flex-column justify-content-between p-6">

        <!-- TOOLBAR -->
        <div class="toolbar row no-gutters align-items-center justify-content-end">

            <button type="button" class="btn btn-icon fuse-ripple-ready">
                <i class="icon-delete"></i>
            </button>

            <button type="button" class="btn btn-icon fuse-ripple-ready">
                <i class="icon icon-download"></i>
            </button>

            <button type="button" class="btn btn-icon fuse-ripple-ready">
                <i class="icon icon-dots-vertical"></i>
            </button>

        </div>
        <!-- / TOOLBAR -->
        <!-- INFO -->
        <div>

            <div class="title mb-2">Work Documents</div>

            <div class="subtitle text-muted">
                <span>Edited</span>
                : May 8, 2017
            </div>

        </div>
        <!-- / INFO-->

    </div>
    <!-- / SIDEBAR HEADER -->
    <!-- SIDENAV CONTENT -->
    <div class="content">

        <div class="file-details">

            <div class="preview file-icon row no-gutters align-items-center justify-content-center">
                <i class="icon-folder s-12"></i>
            </div>

            <div class="offline-switch row no-gutters align-items-center justify-content-between px-6 py-4">

                <span>Available Offline</span>

                <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" aria-label="Toggle offline">
                    <span class="custom-control-indicator fuse-ripple-ready"></span>
                </label>

            </div>

            <div class="title px-6 py-4">Info</div>

            <table class="table">

                <tbody>
                    <tr class="type">
                        <th class="pl-6">Type</th>
                        <td>Folder</td>
                    </tr>

                    <tr class="size">
                        <th class="pl-6">Size</th>
                        <td>-</td>
                    </tr>

                    <tr class="location">
                        <th class="pl-6">Location</th>
                        <td>My Files &gt; Documents</td>
                    </tr>

                    <tr class="owner">
                        <th class="pl-6">Owner</th>
                        <td>Me</td>
                    </tr>

                    <tr class="modified">
                        <th class="pl-6">Modified</th>
                        <td>April 8, 2017</td>
                    </tr>

                    <tr class="opened">
                        <th class="pl-6">Opened</th>
                        <td>April 8, 2017</td>
                    </tr>

                    <tr class="created">
                        <th class="pl-6">Created</th>
                        <td>April 8, 2017</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- / SIDENAV CONTENT -->
    <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__scrollbar-y-rail" style="top: 0px; right: 0px;"><div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
</aside>