﻿@model System.Collections.Generic.IList<Izersoft.Core.Domain.Order_>

@{
    ViewBag.Title = "title";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <table id="example" class="cell-border compact stripe" style="width: 100%; font-size: 14px;">
        <thead>
        <tr>
            <th>ID</th>
            <th>Customer</th>
            <th>Orders</th>
            <th>Total</th>
            <th>IsDelete</th>
            <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>1</td>
                <td>1</td>
                <td><a asp-controller="OrderLine" asp-action="OrderLines" asp-route-id="@item.OrderId" class="btn btn-primary btn-sm">Orders</a>
                </td>
                <td>1</td>
                <td>1</td>
            
                <td class="text-center">
                    <a asp-action="Delete" asp-route-id="@item.OrderId" class="btn btn-primary btn-sm"><i class="icon-close-outline"></i></a>
                    <a asp-action="Update" asp-route-id="@item.OrderId" class="btn btn-primary btn-sm"><i class="icon-pen"></i></a>
                    <a asp-action="Insert" asp-route-id="@item.OrderId" class="btn btn-primary btn-sm"><i class="icon-plus-outline"></i></a>
                </td>
            </tr>
        }


        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('#example').DataTable();
    } );
</script>

