﻿<html lang="en-us">
<head>
    <script type="text/javascript" src="~/admin/js/apps/e-commerce/products/products.js"></script>
    @RenderSection("Scripts", false)
    @{await Html.RenderPartialAsync("_Head");}
</head>

<body class="layout layout-vertical layout-left-navigation layout-above-toolbar media-step-lg">
    <main>
        @{await Html.RenderPartialAsync("Components/_Toolbar");}
        <div id="wrapper">
            @{await Html.RenderPartialAsync("Components/_LeftMenu");}
            <div class="content-wrapper">
                <div class="content custom-scrollbar">

                    <div class="doc tooltips-doc page-layout simple full-width">

                        <!-- HEADER -->
                        <div class="page-header bg-secondary text-auto p-6 row no-gutters align-items-center justify-content-between">
                            <h2 class="doc-title" id="content">@ViewData["HeaderTitle"]</h2>
                        </div>
                        <!-- / HEADER -->
                        <!-- CONTENT -->
                        <div class="page-content p-6">
                            <div class="content container">
                                @RenderBody()
                            </div>
                        </div>
                        <!-- CONTENT -->

                    </div>
                </div>
                <div class="quick-panel-sidebar custom-scrollbar fuse-bar position-right fuse-bar-closed ps ps--theme_default" data-fuse-bar="quick-panel-sidebar" data-fuse-bar-position="right" data-ps-id="52ccd244-5d83-5c57-48fb-e9594d0ead4e">
                    <div class="list-group">

                        <div class="list-group-item subheader">TODAY</div>

                        <div class="list-group-item two-line">

                            <div class="text-muted">

                                <div class="h1"> Saturday</div>

                                <div class="h2 row no-gutters align-items-start">
                                    <span> 1</span>
                                    <span class="h6">th</span>
                                    <span> Jan</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="divider"></div>

                    <div class="list-group">

                        <div class="list-group-item subheader">Events</div>

                        <div class="list-group-item two-line">

                            <div class="list-item-content">
                                <h3>Group Meeting</h3>
                                <p>In 32 Minutes, Room 1B</p>
                            </div>
                        </div>

                        <div class="list-group-item two-line">

                            <div class="list-item-content">
                                <h3>Public Beta Release</h3>
                                <p>11:00 PM</p>
                            </div>
                        </div>

                        <div class="list-group-item two-line">

                            <div class="list-item-content">
                                <h3>Dinner with David</h3>
                                <p>17:30 PM</p>
                            </div>
                        </div>

                        <div class="list-group-item two-line">

                            <div class="list-item-content">
                                <h3>Q&amp;A Session</h3>
                                <p>20:30 PM</p>
                            </div>
                        </div>

                    </div>

                    <div class="divider"></div>

                    <div class="list-group">

                        <div class="list-group-item subheader">Notes</div>

                        <div class="list-group-item two-line">

                            <div class="list-item-content">
                                <h3>Best songs to listen while working</h3>
                                <p>Last edit: May 8th, 2015</p>
                            </div>
                        </div>

                        <div class="list-group-item two-line">

                            <div class="list-item-content">
                                <h3>Useful subreddits</h3>
                                <p>Last edit: January 12th, 2015</p>
                            </div>
                        </div>

                    </div>

                    <div class="divider"></div>

                    <div class="list-group">

                        <div class="list-group-item subheader">Quick Settings</div>

                        <div class="list-group-item">

                            <div class="list-item-content">
                                <h3>Notifications</h3>
                            </div>

                            <div class="secondary-container">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator fuse-ripple-ready"></span>
                                </label>
                            </div>

                        </div>

                        <div class="list-group-item">

                            <div class="list-item-content">
                                <h3>Cloud Sync</h3>
                            </div>

                            <div class="secondary-container">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator fuse-ripple-ready"></span>
                                </label>
                            </div>

                        </div>

                        <div class="list-group-item">

                            <div class="list-item-content">
                                <h3>Retro Thrusters</h3>
                            </div>

                            <div class="secondary-container">

                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator fuse-ripple-ready"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__scrollbar-y-rail" style="top: 0px; right: 0px;"><div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
                </div>
            </div>
        </div>
    </main>

</body>
</html>