﻿<title>Snackbar</title>
<meta charset="UTF-8">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="shortcut icon" type="image/x-icon" href="~/admin/favicon.ico">

<link href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700italic,700,900,900italic" rel="stylesheet">

<!-- STYLESHEETS -->
<style type="text/css">
    [fuse-cloak],
    .fuse-cloak {
        display: none !important;
    }
</style>
<link type="text/css" rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css">
<!-- Icons.css -->
<link type="text/css" rel="stylesheet" href="~/admin/icons/fuse-icon-font/style.css">
<!-- Animate.css -->
<link type="text/css" rel="stylesheet" href="~/admin/vendor/animate.css/animate.min.css">
<!-- PNotify -->
<link type="text/css" rel="stylesheet" href="~/admin/vendor/pnotify/pnotify.custom.min.css">
<!-- Nvd3 - D3 Charts -->
<link type="text/css" rel="stylesheet" href="~/admin/vendor/nvd3/build/nv.d3.min.css">
<!-- Perfect Scrollbar -->
<link type="text/css" rel="stylesheet" href="~/admin/vendor/perfect-scrollbar/css/perfect-scrollbar.min.css">
<!-- Fuse Html -->
<link type="text/css" rel="stylesheet" href="~/admin/vendor/fuse-html/fuse-html.min.css">
<!-- Main CSS -->
<link type="text/css" rel="stylesheet" href="~/admin/css/main.css">

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css" />


<!-- / STYLESHEETS -->
<!-- JAVASCRIPT -->
<!-- jQuery -->
<script type="text/javascript" src="~/admin/vendor/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>

<!-- Mobile Detect -->
<script type="text/javascript" src="~/admin/vendor/mobile-detect/mobile-detect.min.js"></script>
<!-- Perfect Scrollbar -->
<script type="text/javascript" src="~/admin/vendor/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
<!-- Popper.js -->
<script type="text/javascript" src="~/admin/vendor/popper.js/index.js"></script>
<!-- Bootstrap -->
<script type="text/javascript" src="~/admin/vendor/bootstrap/bootstrap.min.js"></script>
<!-- Nvd3 - D3 Charts -->
<script type="text/javascript" src="~/admin/vendor/d3/d3.min.js"></script>
<script type="text/javascript" src="~/admin/vendor/nvd3/build/nv.d3.min.js"></script>
<!-- PNotify -->
<script type="text/javascript" src="~/admin/vendor/pnotify/pnotify.custom.min.js"></script>
<!-- Fuse Html -->
<script type="text/javascript" src="~/admin/vendor/fuse-html/fuse-html.min.js"></script>
<!-- Main JS -->
<script type="text/javascript" src="~/admin/js/main.js"></script>
<!-- / JAVASCRIPT -->
