html.boxed {
	background-image: url("~/img/demos/hotel/patterns/pattern.jpg") !important;
}

html.boxed .body {
	border: 0 !important;
	-webkit-box-shadow: none;
					box-shadow: none;
}

@-webkit-keyframes header-reveal {
	0% {
		top: -150px;
	}
	100% {
		top: 0;
	}
}

@keyframes header-reveal {
	0% {
		top: -150px;
	}
	100% {
		top: 0;
	}
}
.sticky-header-enabled #header .header-body {
	top: 0;
}
.sticky-header-enabled.sticky-header-active #header .header-body {
	width: 100% !important;
	max-width: 1200px;
	top: 0;
	-webkit-animation: header-reveal 0.4s ease-in;
	animation: header-reveal 0.4s ease-in;
}

.header-top-custom {
	margin: 25px auto -15px;
}
.header-top-custom .col-address,
.header-top-custom .col-phone,
.header-top-custom .col-share {
	margin-bottom: 15px;
}
.header-top-custom .icons {
	font-size: 28px;
	float: left;
	margin-right: 9px;
	position: relative;
	top: 9px;
}
.header-top-custom .icons.icon-location-pin {
	top: 6px;
}
.header-top-custom .icons.icon-share {
	top: 5px;
}
.header-top-custom label {
	display: block;
	font-size: 14px;
	opacity: 0.5;
	color: #FFF;
	padding: 0;
	margin: 0 0 -5px;
	font-weight: normal;
}
.header-top-custom strong {
	display: block;
	font-size: 17px;
	color: #FFF;
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.header-top-custom .social-icons li {
	-webkit-box-shadow: none;
					box-shadow: none;
	margin-right: 10px;
}
.header-top-custom .social-icons li a {
	background: transparent !important;
	border-radius: 0;
	color: #fff !important;
	height: auto;
	line-height: normal;
	width: auto;
	font-size: 12px;
	text-transform: uppercase;
}
.header-top-custom .social-icons li a .fa, .header-top-custom .social-icons li a .fas, .header-top-custom .social-icons li a .far, .header-top-custom .social-icons li a .fal, .header-top-custom .social-icons li a .fab {
	font-size: 14px;
	margin-right: 2px;
	position: relative;
	top: 1px;
}
.header-top-custom .social-icons li a:hover {
	opacity: 0.7;
}

@media (max-width: 991px) {
	.header-top-custom {
		margin-bottom: 15px;
	}
	.header-top-custom label {
		font-size: 12px;
	}
	.header-top-custom strong {
		font-size: 13px;
	}
	.header-top-custom .social-icons span {
		display: none;
	}
}
#header {
	min-height: 0;
}
#header .header-body {
	min-height: 0;
	padding: 0;
	border: 0;
	height: auto !important;
	overflow: visible !important;
}
#header .header-nav.header-nav-stripe {
	margin: 0;
}
#header .header-nav-main.header-nav-main-square {
	margin: 0;
}
#header .datepicker {
	font-size: 12px;
}

@media (min-width: 992px) {
	#header .header-nav-main nav > ul > li.dropdown-full-color.dropdown-primary a:after {
		border-color: #444 transparent transparent transparent !important;
	}
	#header .header-nav-main nav > ul > li.dropdown-full-color.dropdown-primary a.active:after {
		border-color: #FFF transparent transparent transparent !important;
	}
	#header .header-nav.header-nav-stripe nav > ul > li > a {
		min-height: 135px;
	}
	#header .header-nav.header-nav-stripe nav > ul > li.dropdown:hover > .dropdown-menu, #header .header-nav.header-nav-stripe nav > ul > li.dropdown.open > .dropdown-menu {
		margin-top: 0;
	}
	#header .header-nav.header-nav-stripe nav > ul > li > a, #header .header-nav.header-nav-stripe nav > ul > li:hover > a, #header .header-nav.header-nav-stripe nav > ul > li.dropdown.open > a {
		margin: 0 !important;
	}
	#header .header-nav.header-nav-stripe nav > ul > li > a.dropdown-toggle:focus:after, #header .header-nav.header-nav-stripe nav > ul > li:hover > a.dropdown-toggle:focus:after, #header .header-nav.header-nav-stripe nav > ul > li.dropdown.open > a.dropdown-toggle:focus:after {
		border-color: #FFF transparent transparent transparent !important;
	}
	#header .header-nav.header-nav-stripe nav > ul > li.dropdown-full-color.dropdown-primary a {
		color: #333;
	}
	#header .header-nav.header-nav-stripe nav > ul > li.dropdown-full-color.dropdown-primary:hover > a, #header .header-nav.header-nav-stripe nav > ul > li.dropdown-full-color.dropdown-primary.dropdown.open > a {
		color: #FFF;
	}
	#header .header-nav.header-nav-stripe nav > ul > li.dropdown-full-color.dropdown-primary:hover > a.dropdown-toggle:after, #header .header-nav.header-nav-stripe nav > ul > li.dropdown-full-color.dropdown-primary:hover > a:focus, #header .header-nav.header-nav-stripe nav > ul > li.dropdown-full-color.dropdown-primary.dropdown.open > a.dropdown-toggle:after, #header .header-nav.header-nav-stripe nav > ul > li.dropdown-full-color.dropdown-primary.dropdown.open > a:focus {
		border-color: #FFF transparent transparent transparent !important;
	}
	#header .header-nav.header-nav-stripe nav > ul > li:hover > a, #header .header-nav.header-nav-stripe nav > ul > li.dropdown.open > a, #header .header-nav.header-nav-stripe nav > ul > li.active > a, #header .header-nav.header-nav-stripe nav > ul > li:focus > a {
		color: #FFF;
	}
	#header .header-nav.header-nav-stripe nav > ul > li:hover > a.dropdown-toggle:after, #header .header-nav.header-nav-stripe nav > ul > li.dropdown.open > a.dropdown-toggle:after, #header .header-nav.header-nav-stripe nav > ul > li.active > a.dropdown-toggle:after, #header .header-nav.header-nav-stripe nav > ul > li:focus > a.dropdown-toggle:after {
		border-color: #FFF transparent transparent transparent !important;
	}
	#header .header-nav.header-nav-stripe nav > ul > li:hover > .dropdown-menu, #header .header-nav.header-nav-stripe nav > ul > li.dropdown.open > .dropdown-menu, #header .header-nav.header-nav-stripe nav > ul > li.active > .dropdown-menu, #header .header-nav.header-nav-stripe nav > ul > li:focus > .dropdown-menu {
		-webkit-transform: translate3d(0, 0, 0) !important;
						transform: translate3d(0, 0, 0) !important;
	}
	#header .header-nav.header-nav-stripe nav > ul > li.dropdown-mega-book-now .dropdown-menu {
		right: 15px;
		left: auto !important;
		max-width: 365px;
		width: 100%;
		margin-top: -1px;
	}
	#header .header-nav.header-nav-stripe nav > ul > li.dropdown-mega-book-now .dropdown-mega-content {
		padding: 15px 10px;
		color: #FFF;
	}
	#header .header-nav.header-nav-stripe nav > ul > li.dropdown-mega-book-now.open .dropdown-menu {
		top: 100% !important;
		display: block !important;
		opacity: 1 !important;
	}
}
@media (max-width: 991px) {
	#header .header-container {
		min-height: 134px;
	}
	#header .header-logo img {
		width: auto !important;
		height: auto !important;
		max-width: 180px;
	}
	#header .header-nav.header-nav-stripe nav > ul > li.dropdown-mega-book-now .form-control-custom .form-control {
		color: #777;
		margin-bottom: 5px;
		border: 1px solid #DDD !important;
		padding-left: 5px;
	}
	#header .header-nav.header-nav-stripe nav > ul > li.dropdown-mega-book-now .form-control-custom .form-control::-webkit-input-placeholder {
		color: #777;
	}
	#header .header-nav.header-nav-stripe nav > ul > li.dropdown-mega-book-now .form-control-custom .form-control::-moz-placeholder {
		color: #777;
	}
	#header .header-nav.header-nav-stripe nav > ul > li.dropdown-mega-book-now .form-control-custom .form-control:-ms-input-placeholder {
		color: #777;
	}
	#header .header-nav.header-nav-stripe nav > ul > li.dropdown-mega-book-now .dropdown-mega-content {
		padding: 10px 0;
		color: #777;
		margin-left: -20px;
	}
}
h1, h2, h3 {
	font-weight: 900;
	letter-spacing: -1px;
}
h1 strong, h2 strong, h3 strong {
	font-weight: 900;
}

h4, h5, h6 {
	font-weight: 800;
	letter-spacing: -1px;
}
h4 strong, h5 strong, h6 strong {
	font-weight: 700;
}

html .btn {
	text-shadow: none !important;
}

.owl-carousel .owl-dots button.owl-dot span {
	background: transparent;
	border: 1px solid #FFF;
}
.owl-carousel .owl-dots button.owl-dot.active span, .owl-carousel .owl-dots button.owl-dot:hover span {
	background: #FFF !important;
}

#bookForm {
	position: relative;
}

.form-control-custom .form-control {
	background: transparent;
	border: 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.25) !important;
	-webkit-box-shadow: none !important;
					box-shadow: none !important;
	color: #FFF;
	padding-left: 0;
}
.form-control-custom .form-control::-webkit-input-placeholder {
	color: #FFF;
}
.form-control-custom .form-control::-moz-placeholder {
	color: #FFF;
}
.form-control-custom .form-control:-ms-input-placeholder {
	color: #FFF;
}
.form-control-custom .form-control option {
	background: #FFF;
	color: #777;
}

.form-control-datepicker-custom {
	position: relative;
}
.form-control-datepicker-custom:before {
	position: absolute;
	font-family: simple-line-icons;
	content: "\e075";
	font-size: 10px;
	top: 3px;
	font-size: 14px;
	color: #FFF;
	z-index: 1;
	right: 3px;
}
.form-control-datepicker-custom input {
	position: relative;
	z-index: 2;
}

.form-control-custom-dark .form-control {
	border-bottom: 1px solid rgba(0, 0, 0, 0.25) !important;
	color: #777;
}
.form-control-custom-dark .form-control::-webkit-input-placeholder {
	color: #777;
}
.form-control-custom-dark .form-control::-moz-placeholder {
	color: #777;
}
.form-control-custom-dark .form-control:-ms-input-placeholder {
	color: #777;
}
.form-control-custom-dark .form-control option {
	background: #DDD;
	color: #777;
}

.datepicker .disabled, .datepicker .disabled:hover {
	opacity: 0.5;
}

.box-shadow-custom {
	-webkit-box-shadow: 10px 10px 74px -15px rgba(0, 0, 0, 0.33);
					box-shadow: 10px 10px 74px -15px rgba(0, 0, 0, 0.33);
}

.micro-map {
	margin: 20px 20px 0 20px;
}
.micro-map .micro-map-map {
	float: left;
	width: 50%;
}
.micro-map .micro-map-info {
	float: left;
	width: 50%;
	height: 280px;
}
.micro-map .micro-map-info-detail {
	height: 60%;
	clear: both;
	border-bottom: 1px solid #E1E5EE;
	padding: 18px;
}
.micro-map .micro-map-info-detail:last-child {
	border-bottom: 0;
	height: 40%;
}
.micro-map .micro-map-info-detail .icons {
	font-size: 18px;
	display: block;
}
.micro-map .micro-map-info-detail label {
	display: block;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	opacity: 0.5;
	padding: 0;
}
.micro-map .micro-map-info-detail strong {
	display: block;
	font-size: 15px;
	font-weight: normal;
	line-height: 18px;
	margin: 0;
	padding: 0;
	color: #333;
}

@media (max-width: 991px) {
	.micro-map .micro-map-info-detail .icons {
		font-size: 14px;
	}
	.micro-map .micro-map-info-detail label {
		font-size: 12px;
	}
	.micro-map .micro-map-info-detail strong {
		font-size: 13px;
	}
}
.macro-map .macro-map-map {
	width: 100%;
}
.macro-map .macro-map-info {
	width: 100%;
}
.macro-map .macro-map-info-detail {
	border-right: 1px solid #e1e5ee;
	clear: none;
	float: left;
	min-height: 130px;
	padding: 18px;
	width: 50%;
}
.macro-map .macro-map-info-detail:last-child {
	border-right: 0;
}
.macro-map .macro-map-info-detail .icons {
	font-size: 18px;
	display: block;
}
.macro-map .macro-map-info-detail label {
	display: block;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	opacity: 0.5;
	padding: 0;
}
.macro-map .macro-map-info-detail strong {
	display: block;
	font-size: 15px;
	font-weight: normal;
	line-height: 18px;
	margin: 0;
	padding: 0;
	color: #333;
}

.play-video-custom {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -45px;
	margin-top: -45px;
}
.play-video-custom img {
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.play-video-custom:hover img {
	-webkit-transform: scale(1.1, 1.1);
					transform: scale(1.1, 1.1);
}

.testimonial.testimonial-style-custom {
	text-align: center;
}
.testimonial.testimonial-style-custom blockquote {
	padding: 70px 40px 40px;
}
.testimonial.testimonial-style-custom blockquote p {
	color: #777;
	font-family: Georgia,serif;
	font-size: 15px;
	font-style: italic;
	line-height: 22px;
}
.testimonial.testimonial-style-custom blockquote:before {
	font-size: 80px;
	left: 50%;
	margin-left: -18px;
	right: auto;
	top: 20px;
}
.testimonial.testimonial-style-custom blockquote:after {
	display: none;
}
.testimonial.testimonial-style-custom .testimonial-arrow-down {
	position: relative;
}
.testimonial.testimonial-style-custom .testimonial-author {
	border-top: 0;
}
.testimonial.testimonial-style-custom .testimonial-author p {
	text-align: center;
	margin: 0;
	padding: 0;
}
.testimonial.testimonial-style-custom .testimonial-author p strong {
	color: #FFF;
	text-transform: uppercase;
}
.testimonial.testimonial-style-custom .testimonial-author p span {
	color: #FFF;
	opacity: 0.5;
}

.thumb-info-side-image-custom {
	border: 0 none;
	color: #777;
	margin: 0 0 31px;
}
.thumb-info-side-image-custom .thumb-info-side-image-wrapper {
	padding: 0;
	margin-right: 30px;
}
.thumb-info-side-image-custom .thumb-info-caption {
	text-align: left;
}
.thumb-info-side-image-custom .thumb-info-caption h4 {
	margin: 27.2px 0 0;
	margin: 1.7rem 0 0;
	padding: 0;
}
.thumb-info-side-image-custom .thumb-info-caption p {
	margin: 0;
	padding: 0;
	font-size: 15px;
	line-height: 24px;
}
.thumb-info-side-image-custom.thumb-info-side-image-custom-highlight .thumb-info-side-image-wrapper {
	margin: 0 0 10px 0;
	padding: 0;
}
.thumb-info-side-image-custom.thumb-info-side-image-custom-highlight .thumb-info-caption {
	padding: 0 10px;
	display: block;
	clear: both;
}
.thumb-info-side-image-custom.thumb-info-side-image-custom-highlight .thumb-info-caption h4 {
	margin: 3px 0;
	padding: 0;
}
.thumb-info-side-image-custom.thumb-info-side-image-custom-highlight .thumb-info-caption p {
	margin: 0;
	padding: 0;
}

@media (max-width: 1199px) {
	.thumb-info-side-image-custom .thumb-info-caption h4 {
		margin: 1rem 0 0;
	}
}
@media (max-width: 991px) {
	.thumb-info-side-image-custom .thumb-info-side-image-wrapper {
		float: none;
		margin: 0 0 10px 0;
		padding: 0;
	}
	.thumb-info-side-image-custom .thumb-info-side-image-wrapper img {
		max-width: 100% !important;
		width: 100%;
		margin-bottom: 20px;
	}
	.thumb-info-side-image-custom .thumb-info-caption {
		padding: 0 10px;
		display: block;
		clear: both;
	}
	.thumb-info-side-image-custom .thumb-info-caption .thumb-info-caption-text {
		padding: 10px !important;
	}
	.thumb-info-side-image-custom .thumb-info-caption h4 {
		margin: 3px 0;
		padding: 0;
	}
	.thumb-info-side-image-custom .thumb-info-caption p {
		margin: 0;
		padding: 0;
	}
}
.page-header.parallax {
	padding: 80px 0;
}
.page-header h1 {
	font-size: 2.5em;
}
.page-header h1 span {
	opacity: 0.8;
	font-size: 0.5em;
}

.room-suite-info::after {
	clear: both;
	content: "";
	display: block;
}
.room-suite-info ul {
	margin: 10px 0 30px;
	padding: 0;
	list-style: none;
}
.room-suite-info ul li {
	border-bottom: 1px solid #e9e9e9;
}
.room-suite-info ul li label {
	display: inline-block;
	font-size: 12px;
	font-weight: normal;
	margin: 0;
	opacity: 0.7;
	padding: 0;
	text-align: left;
	text-transform: uppercase;
	width: 50%;
}
.room-suite-info ul li span, .room-suite-info ul li strong {
	display: inline-block;
	font-size: 12px;
	font-weight: normal;
	line-height: 14px;
	margin: 0 -10px 0 -5px;
	padding: 0;
	width: 50%;
	text-align: right;
}
.room-suite-info ul li strong {
	font-size: 14px;
	font-weight: 700;
	padding: 15px 0;
}
.room-suite-info ul li .room-suite-info-detail {
	float: left;
	font-size: 11px;
	margin: 7px 0 0;
	text-transform: uppercase;
}
.room-suite-info ul li .room-suite-info-book {
	float: right;
	font-size: 12px;
	margin: 7px 0 0;
	text-transform: uppercase;
	font-weight: 700;
}
.room-suite-info ul li .room-suite-info-book-now {
	float: right;
	margin: 7px 0 50px;
}
.room-suite-info ul li:last-child {
	border-bottom: 0;
}

/* Sort Destination IE10/11 */
html.ie10 .sort-destination:not(.full-width),
html.ie11 .sort-destination:not(.full-width) {
	left: -15px;
}
html.ie10 .sort-destination:not(.full-width) .isotope-item,
html.ie11 .sort-destination:not(.full-width) .isotope-item {
	margin-left: 15px;
	margin-right: 15px;
}

#footer .footer-info .icons {
	color: #FFF;
	font-size: 18px;
	display: block;
}
#footer .footer-info label {
	color: #FFF;
	display: block;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	opacity: 0.5;
	padding: 0;
}
#footer .footer-info strong {
	color: #FFF;
	display: block;
	font-size: 15px;
	font-weight: normal;
	line-height: 18px;
	margin: 0;
	padding: 0;
}
#footer .footer-info .social-icons li {
	-webkit-box-shadow: none;
					box-shadow: none;
	margin-right: 10px;
}
#footer .footer-info .social-icons li a {
	background: transparent !important;
	border-radius: 0;
	color: #fff !important;
	height: auto;
	line-height: normal;
	width: auto;
	font-size: 12px;
	text-transform: uppercase;
}
#footer .footer-info .social-icons li a .fa, #footer .footer-info .social-icons li a .fas, #footer .footer-info .social-icons li a .far, #footer .footer-info .social-icons li a .fal, #footer .footer-info .social-icons li a .fab {
	font-size: 14px;
	margin-right: 2px;
	position: relative;
	top: 1px;
}
#footer .footer-info .social-icons li a:hover {
	opacity: 0.7;
}

@media (max-width: 991px) {
	#footer .footer-info {
		margin-top: 20px;
	}
}
.footer-copyright {
	margin-bottom: 35px;
}
.footer-copyright nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.footer-copyright nav ul li {
	border-left: 1px solid #505050;
	display: inline-block;
	line-height: 12px;
	margin: 0;
	padding: 0 8px;
}
.footer-copyright nav ul li:first-child {
	border: medium none;
	padding-left: 0;
}
.footer-copyright nav ul li a {
	opacity: 0.5;
	color: #FFF;
}
.footer-copyright p {
	opacity: 0.5;
	color: #FFF;
	margin: 0;
	padding: 0;
}

@media (max-width: 991px) {
	.footer-copyright {
		margin-top: 20px;
		text-align: center;
	}
	.footer-copyright p {
		display: block;
		padding-top: 20px;
		font-size: 12px;
		text-align: center !important;
	}
}
