﻿@{
    ViewData["HeaderTitle"] = "My First Editor Title";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section Scripts{
    <script src='~/admin/js/ckeditor.js'></script>}

<!-- The toolbar will be rendered in this container. -->
<div id="toolbar-container"></div>

<!-- This container will become the editable. -->
<div id="editor">
    @Html.Raw(ViewData["HtmlData"])
</div>

<input type="submit" id="tik" />

<script>
    DecoupledEditor
        .create(document.querySelector('#editor'))
        .then(editor => {
            const toolbarContainer = document.querySelector('#toolbar-container');
            toolbarContainer.appendChild(editor.ui.view.toolbar.element);
        })
        .catch(error => {
            console.error(error);
        });
</script>

<script type="text/javascript">
    $(document).ready(function (e) {
        $("#tik").click(function () {

            var htmldata = document.getElementById("editor").innerHTML
            $.ajax({
                type: "POST",
                url: "/Admin/Editor/SavePage",
                data: { htmldata }
            })
        });
    });
</script>