﻿@{
    ViewData["HeaderTitle"] = "My First Editor Title";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section Scripts{
    <link href="~/admin/css/snippet.css" rel="stylesheet" />
    <link href="~/admin/css/snippet-styles.css" rel="stylesheet" />
    <script>
        (function () {
            'use strict';
            var el = document.createElement('script');
            el.setAttribute('async', 'async');
            el.setAttribute('defer', 'defer');
            if (typeof Symbol === 'function' && typeof Symbol() === 'symbol') {
                el.src = "../js/ckeditor/app.js";
            } else {
                el.src = "../js/ckeditor/app-polyfill.js";
            }
            document.getElementsByTagName('head')[0].appendChild(el);
        })();
    </script>
    <script async="async" defer="defer" src="~/admin/js/ckeditor/app.js"></script>
}


<section class="main__content formatted">
    <div class="live-snippet">
        <div id="snippet-balloon-editor" class="ck ck-content ck-editor__editable ck-rounded-corners ck-blurred ck-editor__editable_inline" contenteditable="true" role="textbox" aria-label="Rich Text Editor, main">
            <h2>Walking the capitals of Europe: Warsaw</h2><figure class="image ck-widget" contenteditable="false"><img src="../../assets/img/warsaw.jpg" alt="Picture of the Warsaw Old Town."><figcaption class="ck-editor__editable ck-editor__nested-editable" contenteditable="true" data-placeholder="Enter image caption">Medieval Old Town square, destroyed in 1944 &amp; rebuilt after WWII.</figcaption></figure><p>If you enjoyed my previous articles in which we discussed wandering around <a href="https://en.wikipedia.org/wiki/Copenhagen">Copenhagen</a> and <a href="https://en.wikipedia.org/wiki/Vilnius">Vilnius</a>, you’ll definitely love exploring <a href="https://en.wikipedia.org/wiki/Warsaw">Warsaw</a>.</p><h3>Time to put comfy sandals on!</h3><p>Best time to visit the city is July and August, when it’s cool enough to not break a sweat and hot enough to enjoy summer. The city which has quite a combination of both old and modern textures is located by the river of Vistula.</p><p>The historic <strong>Old Town</strong>, which was reconstructed after the World War II, with its late 18th century characteristics, is a must-see. You can start your walk from the <strong>Nowy Świat Street</strong> which will take you straight to the Old Town.</p><p>Then you can go to the <strong>Powiśle</strong> area and take a walk on the newly renovated promenade on the riverfront. There are also lots of cafes, bars and restaurants where you can shake off the exhaustion of the day. On Sundays, there are many parks where you can enjoy nature or listen to pianists from around the world playing Chopin.</p><p>For museum lovers, you can add these to your list:</p><ul><li><a href="http://www.polin.pl/en">POLIN</a></li><li><a href="http://www.1944.pl/en">Warsaw Uprising Museum</a></li><li><a href="http://chopin.museum/en">Fryderyk Chopin Museum</a></li></ul><h3>Next destination</h3><p>We will go to Berlin and have a night's walk in the city that never sleeps! Make sure you subscribe to our newsletter!</p>
        </div>
    </div>
</section>
<script src="~/admin/js/ckeditor/snippet.js"></script>

<div class="ck ck-reset_all ck-body ck-rounded-corners">
    <div class="ck ck-balloon-panel ck-balloon-panel_arrow_n ck-balloon-panel_with-arrow ck-toolbar-container" style="top: 762.422px; left: 775px;">
    </div>
</div>

<input type="submit" id="tik" />

<textarea id="htmltext" name="htmltext" hidden="hidden">@ViewBag.HtmlPage</textarea>

<script type="text/javascript">
    $(document).ready(function (e) {
        $("#tik").click(function () {
            var htmldata = document.getElementById("snippet-balloon-editor").innerHTML
            //$.ajax({
            //    type: "POST",
            //    url: "/Admin/Editor/SavePage",
            //    data: { htmldata }
            //})
            $("#htmltext").val(htmldata);
        });
    });
</script>