﻿<div style="height:60px;background-color:#696969"></div>
<div class="row">
    <div class="col">
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Features</li>
        </ul>
    </div>
</div>