﻿
<footer class="short" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="newsletter">
                    <h4>
                        <strong>Izersoft</strong> Hakkında
                    </h4>
                    <p>
                        Izersoft, İzmir merkezli bir kuruluş olup ağırlıklı olarak Ege Bölgesi,Akdeniz ve Marmara Bölgesi olmak üzere
                        tüm Türkiye geneline hizmet vermektedir.
                        <a href="/Home/About" class="btn-flat btn-xs">
                            Devamı
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    </p>
                </div>
                <hr class="light">
                <div class="row">
                    <div class="col-lg-3">
                        <h5>HİZMETLERİMİZ</h5>
                        <ul class="list list-icons list-icons-sm">
                            <li><i class="fas fa-caret-right"></i> <a href="/Home/CorporateWebSite">Kurumsal Web Sitesi</a></li>
                            <li><i class="fas fa-caret-right"></i> <a href="/Home/Ecommerce">E-Ticaret Sistemleri</a></li>
                            <li><i class="fas fa-caret-right"></i> <a href="/Home/MobileApp">Kurumsal Mobil Uygulama</a></li>
                            <li><i class="fas fa-caret-right"></i> <a href="/Home/InternetOfThings">Nesnelerin İnterneti</a></li>
                            <li><i class="fas fa-caret-right"></i> <a href="/Home/DomainTescil">Domain Tescil / Hosting Hizmeti</a></li>
                            <li><i class="fas fa-caret-right"></i> <a href="/Home/AutomationSystem">Otomasyon Sistemleri</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h5>HİZMETLERİMİZ</h5>
                        <ul class="list list-icons list-icons-sm">
                            <li><i class="fas fa-caret-right"></i> <a href="#">Kurumsal Eğitim Seminerleri</a></li>
                            <li><i class="fas fa-caret-right"></i> <a href="/Home/CorporateIdentityWork">Kurumsal Kimlik Çalışmaları</a></li>
                            <li><i class="fas fa-caret-right"></i> <a href="/Home/SpecialSoftwareSolution">Özel Yazılım Çözümleri</a></li>
                            <li><i class="fas fa-caret-right"></i> <a href="/Home/InternetAdvertisement">İnternet Reklamcılığı</a></li>
                            <li><i class="fas fa-caret-right"></i> <a href="/Home/SocialMediaManagement">Sosyal Medya Yöneticiliği</a></li>
                            <li><i class="fas fa-caret-right"></i> <a href="page-custom-header.html">Reklamcılık ve Matbaa İşlemleri</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h5>KURUMSAL</h5>
                        <ul class="list list-icons list-icons-sm">
                            <li><i class="fas fa-caret-right"></i> <a href="/Home/About">Hakkımızda</a></li>
                            <li><i class="fas fa-caret-right"></i> <a href="/Home/MissionVision">Misyon | Vizyon</a></li>
                            <li><i class="fas fa-caret-right"></i> <a href="/Home/OurTeam">Ekibimiz</a></li>
                            <li><i class="fas fa-caret-right"></i> <a href="/Home/HumanResources">İnsan Kaynakları</a></li>
                            <li><i class="fas fa-caret-right"></i> <a href="/Home/SocialMedia">Sosyal Medya</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h5>REFERANSLARIMIZ</h5>
                        <ul class="list list-icons list-icons-sm">
                            <li><i class="fas fa-caret-right"></i> <a href="/Home/WorkedWith">Kimlerle Çalıştık ?</a></li>
                            <li><i class="fas fa-caret-right"></i> <a href="/Home/OurWorks">Neler Yaptık ?</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <h5 class="mb-2">İLETİŞİM</h5>
                <span class="phone">(530) 410 25 86</span>
                <ul class="list list-icons mt-4">
                    <li><i class="fas fa-map-marker-alt"></i> <strong>Adres:</strong> Etiler Mah. 1266 Sk. No:10 K:6 D:601 Basmane | Konak | İZMİR</li>
                    <li><i class="far fa-envelope"></i> <strong>Email:</strong> <a href="mailto:info@izersoft.com ">info@izersoft.com.tr </a></li>
                </ul>
                <ul class="social-icons mt-4">
                    <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                    <li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                    <li class="social-icons-instagram"><a href="http://www.instagram.com/" target="_blank" title="instagram"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-11">
                    <p>© Copyright 2018. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>