﻿<header id="header" class="header-narrow header-transparent header-transparent-bottom-border" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 1, 'stickySetTop': '1'}">
    <div class="header-body">
        <div class="header-container container">
            <div class="header-row">
                <div class="header-column">
                    <div class="header-row">
                        <div class="header-logo">
                            <a href="/Home/Index">
                                <img alt="Izersoft" height="40" src="~/img/logo5.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="header-column justify-content-end">
                    <div class="header-row">
                        <div class="header-nav header-nav-stripe">
                            <div class="header-nav-main header-nav-main-square header-nav-main-effect-2 header-nav-main-sub-effect-1">
                                <nav class="collapse">
                                    <ul class="nav nav-pills" id="mainNav">
                                        <li class="dropdown">
                                            <a class="dropdown-item" href="/Home/Index">
                                                Ana Sayfa
                                            </a>
                                        </li>

                                        <li class="dropdown">
                                            <a class="dropdown-item dropdown-toggle" href="#">
                                                HİZMETLERİMİZ
                                            </a>
                                            @await Component.InvokeAsync("CategoryList")
                                        </li>
                                        <li class="dropdown">
                                            <a class="dropdown-item dropdown-toggle" href="#">
                                                ARGE
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="/Home/ArgeTeam" class="dropdown-item" routerLink="arge-ekibimiz">
                                                        ARGE Ekibimiz
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/Home/ArgeWorks" class="dropdown-item" routerLink="arge-calismalarimiz">
                                                        ARGE Çalışmalarımız
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a class="dropdown-item dropdown-toggle" href="#">
                                                KURUMSAL
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="/Home/About" class="dropdown-item" routerLink="hakkimizda">
                                                        Hakkımızda
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/Home/MissionVision" class="dropdown-item" routerLink="misyon-vizyon">
                                                        Misyonumuz - Vizyonumuz
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/Home/OurTeam" class="dropdown-item" routerLink="ekibimiz">
                                                        Ekibimiz
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/Home/HumanResources" class="dropdown-item" routerLink="insan-kaynaklari">
                                                        İnsan Kaynakları
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a class="dropdown-item dropdown-toggle" href="#">
                                                REFERANSLARIMIZ
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="/Home/WorkedWith" class="dropdown-item" routerLink="arge-ekibimiz">
                                                        Kimlerle Çalıştık ?
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/Home/OurWorks" class="dropdown-item" routerLink="arge-calismalarimiz">
                                                        Neler Yaptık ?
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a class="dropdown-item " routerLink="iletisim" href="/Home/Contact">
                                                İLETİŞİM
                                            </a>
                                        </li>

                                    </ul>

                                    <ul class="nav nav-pills" id="mainNav">
                                        <li class="dropdown dropdown-mega dropdown-mega-shop" id="headerShop">
                                            <a class="dropdown-item" href="/Home/Basket">
                                                <i class="fas fa-shopping-cart"></i>(1) $299
                                            </a>

                                        </li>
                                        <li class="dropdown dropdown-mega dropdown-mega-signin signin" id="headerAccount">
                                            <a class="dropdown-item " href="/Home/Login">
                                                <i class="fas fa-user"></i> Giriş
                                            </a>

                                        </li>
                                    </ul>

                                </nav>
                            </div>



                           
                                                
                                    


                           
                            <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main nav">
                                <i class="fas fa-bars"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>