﻿<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="~/vendor/jquery.appear/jquery.appear.min.js"></script>
<script src="~/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="~/vendor/jquery-cookie/jquery-cookie.min.js"></script>
<script src="~/vendor/popper/umd/popper.min.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="~/vendor/common/common.min.js"></script>
<script src="~/vendor/jquery.validation/jquery.validation.min.js"></script>
<script src="~/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js"></script>
<script src="~/vendor/jquery.gmap/jquery.gmap.min.js"></script>
<script src="~/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
<script src="~/vendor/isotope/jquery.isotope.min.js"></script>
<script src="~/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="~/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="~/vendor/vide/vide.min.js"></script>

<!-- Theme Base, Components and Settings -->
<script src="~/js/theme.js"></script>

<!-- Current Page Vendor and Views -->
<script src="~/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="~/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script src="~/vendor/circle-flip-slideshow/js/jquery.flipshow.min.js"></script>
<script src="~/js/views/view.home.js"></script>

<!-- Theme Custom -->
<script src="~/js/custom.js"></script>

<!-- Theme Initialization Files -->
<script src="~/js/theme.init.js"></script>

<!-- Examples -->
<script src="~/js/examples/examples.lightboxes.js"></script>
