﻿<!DOCTYPE html>
<html>
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Porto - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/img/favicon.ico" type="image/x-icon">

    <link rel="apple-touch-icon" href="~/img/apple-touch-icon.png">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/vendor/font-awesome/css/fontawesome-all.css" rel="stylesheet" />
    <link href="~/vendor/animate/animate.min.css" rel="stylesheet" />
    <link href="~/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" />
    <link href="~/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/vendor/owl.carousel/assets/owl.theme.default.css" rel="stylesheet" />
    <link href="~/vendor/magnific-popup/magnific-popup.min.css" rel="stylesheet" />
    <!-- Theme CSS -->

    <link href="~/css/theme.css" rel="stylesheet" />
    <link href="~/css/theme-blog.css" rel="stylesheet" />
    <link href="~/css/theme-elements.css" rel="stylesheet" />
    <link href="~/css/theme-shop.css" rel="stylesheet" />

    <!-- Current Page CSS -->
    <link href="~/vendor/rs-plugin/css/settings.css" rel="stylesheet" />
    <link href="~/vendor/rs-plugin/css/layers.css" rel="stylesheet" />
    <link href="~/vendor/rs-plugin/css/navigation.css" rel="stylesheet" />
    <link href="~/vendor/circle-flip-slideshow/css/component.css" rel="stylesheet" />
    <!-- Skin CSS -->
    <link rel="stylesheet" href="~/css/skins/default.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/css/custom.css">

    <!-- Head Libs -->
    <script src="~/vendor/modernizr/modernizr.min.js"></script>

    <!-- Demo CSS -->
    <!--MAP SECTION-->

    <script src="~/js/map-script.js"></script>
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyBKS14AnP3HCIVlUpPKtGp7CbYuMtcXE2o"></script>

</head>
<body>
    <div class="body">
        @{await Html.RenderPartialAsync("_Header");}
        @RenderBody()
        @{await Html.RenderPartialAsync("_Footer");}
    </div>
    @{await Html.RenderPartialAsync("_Imports");}
</body>
</html>
