<h2 class="font-weight-bold text-color-dark text-center mb-0">
	Wedding
</h2>
<p class="text-center text-1">3 photos</p>
<div class="owl-carousel custom-arrows-style-2 custom-nav-inside-center" data-plugin-options="{'items': 1, 'margin': 0, 'loop': true, 'nav': true, 'dots': true}">
	<div>
		<img src="~/img/demos/church/gallery/gallery-detail-image-1.jpg" alt class="img-fluid" />
	</div>
	<div>
		<img src="~/img/demos/church/gallery/gallery-detail-image-2.jpg" alt class="img-fluid" />
	</div>
	<div>
		<img src="~/img/demos/church/gallery/gallery-detail-image-3.jpg" alt class="img-fluid" />
	</div>
</div>