<div class="col-md-6 isotope-item item-appended p-0">
	<div class="portfolio-grid-item">
		<a href="#photographyLightbox" class="text-decoration-none popup-with-move-anim">
			<div class="thumb-info">
				<div class="thumb-info-wrapper size-4 m-0">
					<span class="thumb-info-background" data-thumb-src="~/img/demos/photography/gallery/family/1-thumb.jpg" data-src="~/img/demos/photography/gallery/family/1.jpg" style="background-image: url('~/img/demos/photography/gallery/family/1-medium.jpg');"></span>
					<h2 class="thumb-info-title font-weight-bold text-center">
						Family Moments
						<span class="thumb-info-sub-title font-weight-light">
							Lorem ipsum dolor sit a met
						</span>
					</h2>
				</div>
			</div>
		</a>
	</div>
</div>
<div class="col-md-6 isotope-item item-appended p-0">
	<div class="portfolio-grid-item">
		<a href="#photographyLightbox" class="text-decoration-none popup-with-move-anim">
			<div class="thumb-info">
				<div class="thumb-info-wrapper size-4 m-0">
					<span class="thumb-info-background" data-thumb-src="~/img/demos/photography/gallery/family/2-thumb.jpg" data-src="~/img/demos/photography/gallery/family/2.jpg" style="background-image: url('~/img/demos/photography/gallery/family/2-medium.jpg');"></span>
					<span class="thumb-info-plus"></span>
				</div>
			</div>
		</a>
	</div>
</div>
<div class="col-md-6 isotope-item item-appended p-0">
	<div class="portfolio-grid-item">
		<a href="#photographyLightbox" class="text-decoration-none popup-with-move-anim">
			<div class="thumb-info">
				<div class="thumb-info-wrapper size-4 m-0">
					<span class="thumb-info-background" data-thumb-src="~/img/demos/photography/gallery/landscape/1-thumb.jpg" data-src="~/img/demos/photography/gallery/landscape/1.jpg" style="background-image: url('~/img/demos/photography/gallery/landscape/1-medium.jpg');"></span>
					<span class="thumb-info-plus"></span>
				</div>
			</div>
		</a>
	</div>
</div>
<div class="col-md-6 isotope-item item-appended p-0">
	<div class="portfolio-grid-item">
		<a href="#photographyLightbox" class="text-decoration-none popup-with-move-anim">
			<div class="thumb-info">
				<div class="thumb-info-wrapper size-4 m-0">
					<span class="thumb-info-background" data-thumb-src="~/img/demos/photography/gallery/landscape/2-thumb.jpg" data-src="~/img/demos/photography/gallery/landscape/2.jpg" style="background-image: url('~/img/demos/photography/gallery/landscape/2-medium.jpg');"></span>
					<span class="thumb-info-plus"></span>
				</div>
			</div>
		</a>
	</div>
</div>