	<div class="isotope-item col-sm-6 col-lg-3 website p-0">
		<div class="image-gallery-item mb-0">
			<a href="~/img/projects/project-6.jpg" class="lightbox-portfolio">
				<span class="thumb-info thumb-info-centered-info thumb-info-no-borders custom-thumb-info-style-1">
					<span class="thumb-info-wrapper">
						<img src="~/img/projects/project.jpg" class="img-fluid" alt="">
						<span class="thumb-info-title">
							<span class="thumb-info-inner">PORTO DOCUMENT</span>
							<span class="thumb-info-type">WEBSITES</span>
						</span>
					</span>
				</span>
			</a>
		</div>
	</div>
	<div class="isotope-item col-sm-6 col-lg-3 brands p-0">
		<div class="image-gallery-item mb-0">
			<a href="~/img/projects/project-6.jpg" class="lightbox-portfolio">
				<span class="thumb-info thumb-info-centered-info thumb-info-no-borders custom-thumb-info-style-1">
					<span class="thumb-info-wrapper">
						<img src="~/img/projects/project-2.jpg" class="img-fluid" alt="">
						<span class="thumb-info-title">
							<span class="thumb-info-inner">PORTO BRAND</span>
							<span class="thumb-info-type">BRANDS</span>
						</span>
					</span>
				</span>
			</a>
		</div>
	</div>
	<div class="isotope-item col-sm-6 col-lg-3 mobile-app p-0">
		<div class="image-gallery-item mb-0">
			<a href="~/img/projects/project-6.jpg" class="lightbox-portfolio">
				<span class="thumb-info thumb-info-centered-info thumb-info-no-borders custom-thumb-info-style-1">
					<span class="thumb-info-wrapper">
						<img src="~/img/projects/project-4.jpg" class="img-fluid" alt="">
						<span class="thumb-info-title">
							<span class="thumb-info-inner">PORTO BOTTLE</span>
							<span class="thumb-info-type">MOBILE APP</span>
						</span>
					</span>
				</span>
			</a>
		</div>
	</div>
	<div class="isotope-item col-sm-6 col-lg-3 others p-0">
		<div class="image-gallery-item mb-0">
			<a href="~/img/projects/project-6.jpg" class="lightbox-portfolio">
				<span class="thumb-info thumb-info-centered-info thumb-info-no-borders custom-thumb-info-style-1">
					<span class="thumb-info-wrapper">
						<img src="~/img/projects/project-5.jpg" class="img-fluid" alt="">
						<span class="thumb-info-title">
							<span class="thumb-info-inner">PORTO T-SHIRT</span>
							<span class="thumb-info-type">OTHERS</span>
						</span>
					</span>
				</span>
			</a>
		</div>
	</div>