<div class="slider-container rev_slider_wrapper" style="height: 500px;">
	<div id="revolutionSlider" class="slider rev_slider manual" data-version="5.4.7">
		<ul>
			<li data-transition="fade">
				<img src="~/img/demos/photography/slides/slide-photography-5.jpg"  
					alt=""
					data-bgposition="center center" 
					data-bgfit="cover" 
					data-bgrepeat="no-repeat" 
					class="rev-slidebg">

				<div class="tp-caption tp-caption-photo-label"
					data-x="['left','left','left','left']"
					data-hoffset="['28','28','28','28']" 
					data-y="['bottom','bottom','bottom','bottom']"
					data-voffset="['28','28','28','28']" 
					data-start="500"
					data-basealign="slide" 
					data-transform_in="y:[-300%];opacity:0;s:500;">The Explorers</div>
			</li>
			<li data-transition="fade">
				<img src="~/img/demos/photography/slides/slide-photography-1.jpg"  
					alt=""
					data-bgposition="center center" 
					data-bgfit="cover" 
					data-bgrepeat="no-repeat" 
					class="rev-slidebg">
				
				<div class="tp-caption tp-caption-photo-label"
					data-x="['left','left','left','left']"
					data-hoffset="['28','28','28','28']" 
					data-y="['bottom','bottom','bottom','bottom']"
					data-voffset="['28','28','28','28']" 
					data-start="500"
					data-basealign="slide" 
					data-transform_in="y:[-300%];opacity:0;s:500;">The Happy Family</div>
			</li>
			<li data-transition="fade">
				<img src="~/img/demos/photography/slides/slide-photography-2.jpg"  
					alt=""
					data-bgposition="center center" 
					data-bgfit="cover" 
					data-bgrepeat="no-repeat" 
					class="rev-slidebg">
				
				<div class="tp-caption tp-caption-photo-label"
					data-x="['left','left','left','left']"
					data-hoffset="['28','28','28','28']" 
					data-y="['bottom','bottom','bottom','bottom']"
					data-voffset="['28','28','28','28']" 
					data-start="500"
					data-basealign="slide" 
					data-transform_in="y:[-300%];opacity:0;s:500;">The Cool Style</div>
			</li>
			<li data-transition="fade">
				<img src="~/img/demos/photography/slides/slide-photography-3.jpg"  
					alt=""
					data-bgposition="center center" 
					data-bgfit="cover" 
					data-bgrepeat="no-repeat" 
					class="rev-slidebg">
				
				<div class="tp-caption tp-caption-photo-label"
					data-x="['left','left','left','left']"
					data-hoffset="['28','28','28','28']" 
					data-y="['bottom','bottom','bottom','bottom']"
					data-voffset="['28','28','28','28']" 
					data-start="500"
					data-basealign="slide" 
					data-transform_in="y:[-300%];opacity:0;s:500;">The Bride</div>
			</li>
			<li data-transition="fade">
				<img src="~/img/demos/photography/slides/slide-photography-4.jpg"  
					alt=""
					data-bgposition="center center" 
					data-bgfit="cover" 
					data-bgrepeat="no-repeat" 
					class="rev-slidebg">
				
				<div class="tp-caption tp-caption-photo-label"
					data-x="['left','left','left','left']"
					data-hoffset="['28','28','28','28']" 
					data-y="['bottom','bottom','bottom','bottom']"
					data-voffset="['28','28','28','28']" 
					data-start="500"
					data-basealign="slide" 
					data-transform_in="y:[-300%];opacity:0;s:500;">The Landscape</div>
			</li>
		</ul>
	</div>
</div>