<div class="ajax-container">
	<div class="row">
		<div class="col">
			<div class="portfolio-title">
				<div class="row">
					<div class="portfolio-nav-all col-lg-1">
						<a href="#" data-ajax-portfolio-close data-tooltip data-original-title="Close"><i class="fas fa-th"></i></a>
					</div>
					<div class="col-lg-10 text-center">
						<h2 class="mb-0">Mobile Mockup</h2>
					</div>
					<div class="portfolio-nav col-lg-1">
						<a href="#" data-ajax-portfolio-prev class="portfolio-nav-prev" data-tooltip data-original-title="Previous"><i class="fas fa-chevron-left"></i></a>
						<a href="#" data-ajax-portfolio-next class="portfolio-nav-next" data-tooltip data-original-title="Next"><i class="fas fa-chevron-right"></i></a>
					</div>
				</div>
			</div>

			<hr class="tall">
		</div>
	</div>

	<div class="row mb-4">
		<div class="col-lg-4">

			<span class="img-thumbnail d-block">
				<img alt="" class="img-fluid" src="~/img/projects/project-6.jpg">
			</span>

		</div>

		<div class="col-lg-8">

			<div class="portfolio-info">
				<div class="row mt-3 mt-lg-0">
					<div class="col-md-6">
						<h5>Project Description</h5>
					</div>
					<div class="col-md-6 text-left text-md-right">
						<ul>
							<li>
								<a href="#" data-tooltip data-original-title="Like"><i class="fas fa-heart"></i>14</a>
							</li>
							<li>
								<i class="fas fa-calendar-alt"></i> 01 January 2017
							</li>
							<li>
								<i class="fas fa-tags"></i> <a href="#">Brand</a>, <a href="#">Design</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elimttis adipiscing. Fusce in hendrerit purus. Suspendisse potenti. Proin quis eros odio, dapibus dictum mauris. Donec nisi libero, adipiscing id pretium eget, consectetur sit amet leo. Nam at eros quis mi egestas fringilla non nec purus.</p>

			<a href="#" class="btn btn-primary btn-icon"><i class="fas fa-external-link-alt"></i>Live Preview</a>

			<ul class="portfolio-details">
				<li>
					<h5 class="mt-2 mb-1">Skills</h5>

					<ul class="list list-inline list-icons">
						<li class="list-inline-item"><i class="fas fa-check-circle"></i> Design</li>
						<li class="list-inline-item"><i class="fas fa-check-circle"></i> HTML/CSS</li>
						<li class="list-inline-item"><i class="fas fa-check-circle"></i> Javascript</li>
						<li class="list-inline-item"><i class="fas fa-check-circle"></i> Backend</li>
					</ul>
				</li>
				<li>
					<h5 class="mt-2 mb-1">Client</h5>
					<p>Okler Themes</p>
				</li>
			</ul>

		</div>
	</div>
</div>