<div class="col-12 col-sm-6 col-lg-3 isotope-item logos">
	<div class="portfolio-item">
		<a href="portfolio-single-small-slider.html">
			<span class="thumb-info thumb-info-lighten">
				<span class="thumb-info-wrapper">
					<img src="~/img/projects/project-23.jpg" class="img-fluid" alt="">
					<span class="thumb-info-title">
						<span class="thumb-info-inner">Business Folders</span>
						<span class="thumb-info-type">Logo</span>
					</span>
					<span class="thumb-info-action">
						<span class="thumb-info-action-icon"><i class="fas fa-link"></i></span>
					</span>
				</span>
			</span>
		</a>
	</div>
</div>
<div class="col-12 col-sm-6 col-lg-3 isotope-item websites">
	<div class="portfolio-item">
		<a href="portfolio-single-small-slider.html">
			<span class="thumb-info thumb-info-lighten">
				<span class="thumb-info-wrapper">
					<img src="~/img/projects/project-24.jpg" class="img-fluid" alt="">
					<span class="thumb-info-title">
						<span class="thumb-info-inner">Tablet Screen</span>
						<span class="thumb-info-type">Website</span>
					</span>
					<span class="thumb-info-action">
						<span class="thumb-info-action-icon"><i class="fas fa-link"></i></span>
					</span>
				</span>
			</span>
		</a>
	</div>
</div>
<div class="col-12 col-sm-6 col-lg-3 isotope-item medias">
	<div class="portfolio-item">
		<a href="portfolio-single-small-slider.html">
			<span class="thumb-info thumb-info-lighten">
				<span class="thumb-info-wrapper">
					<img src="~/img/projects/project-25.jpg" class="img-fluid" alt="">
					<span class="thumb-info-title">
						<span class="thumb-info-inner">Black Watch</span>
						<span class="thumb-info-type">Media</span>
					</span>
					<span class="thumb-info-action">
						<span class="thumb-info-action-icon"><i class="fas fa-link"></i></span>
					</span>
				</span>
			</span>
		</a>
	</div>
</div>
<div class="col-12 col-sm-6 col-lg-3 isotope-item websites">
	<div class="portfolio-item">
		<a href="portfolio-single-small-slider.html">
			<span class="thumb-info thumb-info-lighten">
				<span class="thumb-info-wrapper">
					<img src="~/img/projects/project-26.jpg" class="img-fluid" alt="">
					<span class="thumb-info-title">
						<span class="thumb-info-inner">Monitor Mockup</span>
						<span class="thumb-info-type">Website</span>
					</span>
					<span class="thumb-info-action">
						<span class="thumb-info-action-icon"><i class="fas fa-link"></i></span>
					</span>
				</span>
			</span>
		</a>
	</div>
</div>