	<div class="col-12 col-sm-6 col-lg-3 isotope-item logos">
		<div class="portfolio-item">
			<a href="portfolio-single-small-slider.html">
				<span class="thumb-info thumb-info-lighten">
					<span class="thumb-info-wrapper">
						<img src="~/img/projects/project-4.jpg" class="img-fluid" alt="">
						<span class="thumb-info-title">
							<span class="thumb-info-inner">Three Bottles</span>
							<span class="thumb-info-type">Logo</span>
						</span>
						<span class="thumb-info-action">
							<span class="thumb-info-action-icon"><i class="fas fa-link"></i></span>
						</span>
					</span>
				</span>
			</a>
		</div>
	</div>
	<div class="col-12 col-sm-6 col-lg-3 isotope-item brands">
		<div class="portfolio-item">
			<a href="portfolio-single-small-slider.html">
				<span class="thumb-info thumb-info-lighten">
					<span class="thumb-info-wrapper">
						<img src="~/img/projects/project-5.jpg" class="img-fluid" alt="">
						<span class="thumb-info-title">
							<span class="thumb-info-inner">Company T-Shirt</span>
							<span class="thumb-info-type">Brand</span>
						</span>
						<span class="thumb-info-action">
							<span class="thumb-info-action-icon"><i class="fas fa-link"></i></span>
						</span>
					</span>
				</span>
			</a>
		</div>
	</div>
	<div class="col-12 col-sm-6 col-lg-3 isotope-item websites">
		<div class="portfolio-item">
			<a href="portfolio-single-small-slider.html">
				<span class="thumb-info thumb-info-lighten">
					<span class="thumb-info-wrapper">
						<img src="~/img/projects/project-6.jpg" class="img-fluid" alt="">
						<span class="thumb-info-title">
							<span class="thumb-info-inner">Mobile Mockup</span>
							<span class="thumb-info-type">Website</span>
						</span>
						<span class="thumb-info-action">
							<span class="thumb-info-action-icon"><i class="fas fa-link"></i></span>
						</span>
					</span>
				</span>
			</a>
		</div>
	</div>
	<div class="col-12 col-sm-6 col-lg-3 isotope-item medias">
		<div class="portfolio-item">
			<a href="portfolio-single-small-slider.html">
				<span class="thumb-info thumb-info-lighten">
					<span class="thumb-info-wrapper">
						<img src="~/img/projects/project-7.jpg" class="img-fluid" alt="">
						<span class="thumb-info-title">
							<span class="thumb-info-inner">Porto Label</span>
							<span class="thumb-info-type">Media</span>
						</span>
						<span class="thumb-info-action">
							<span class="thumb-info-action-icon"><i class="fas fa-link"></i></span>
						</span>
					</span>
				</span>
			</a>
		</div>
	</div>