﻿@model System.Collections.Generic.IList<Izersoft.Core.Domain.Category_>

<ul class="dropdown-menu">
    @foreach (var item in Model)
    {
        <li>
            <a href="/Home/CorporateWebSite" class="dropdown-item" routerLink="kurumsal-web-sitesi">
                @item.CategoryName
            </a>
        </li>
    }

</ul>